<button class="cc-btn cc-btn-left" data-toggle="tooltip" data-placement="top" title=""
        data-original-title="Tooltip on top">Tips Top
</button>
<button class="cc-btn cc-btn-left" data-toggle="tooltip" data-placement="bottom" title=""
        data-original-title="Tooltip on bottom">Tips Bottom
</button>
<button class="cc-btn cc-btn-left" data-toggle="tooltip" data-placement="left" title=""
        data-original-title="Tooltip on left">Tips Left
</button>
<button class="cc-btn cc-btn-left" data-toggle="tooltip" data-placement="right" title=""
        data-original-title="Tooltip on right">Tips Right
</button>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
</script>
<pre class="code">
&lt;button class="cc-btn cc-btn-default cc-btn-left" data-toggle="tooltip" data-placement="top" title=""
        data-original-title="Tooltip on top"&gt;Tips Top
&lt;/button&gt;
&lt;button class="cc-btn cc-btn-default cc-btn-left" data-toggle="tooltip" data-placement="bottom" title=""
        data-original-title="Tooltip on bottom"&gt;Tips Bottom
&lt;/button&gt;
&lt;button class="cc-btn cc-btn-default cc-btn-left" data-toggle="tooltip" data-placement="left" title=""
        data-original-title="Tooltip on left"&gt;Tips Left
&lt;/button&gt;
&lt;button class="cc-btn cc-btn-default cc-btn-left" data-toggle="tooltip" data-placement="right" title=""
        data-original-title="Tooltip on right"&gt;Tips Right
&lt;/button&gt;
&lt;script&gt;
  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
  })
&lt;/script&gt;

</pre>
