<div class="tccui-component">
  <h1 class="cc-h">Pagination</h1>
  <div class="cc-panel">
      <div class="cc-pagi" role="region" aria-label="Pagination">
        <ul class="pagination">
          <li class="pagination-previous disabled" aria-hidden="true">
            <a href="#" rel="first" tabindex="-1">
              <i class="ci ci-pag-top"></i>
              <span class="sr-only">Top Page</span>
            </a>
          </li>
          <li class="pagination-previous disabled" aria-hidden="true">
            <a href="#" rel="previous" tabindex="-1">
              <i class="ci ci-pag-pre" aria-hidden="true"></i>
              <span class="sr-only">Previous Page</span>
            </a>
          </li>
          <li>
      <span title="Pagination : Current Item Range">
        <div class="sr-only">Current Item Range</div>
        1-10 / 100
      </span>
          </li>
          <li class="pagination-next">
            <a href="#" rel="next" title="Next Page">
              <i class="ci ci-pag-next" aria-hidden="true"></i>
              <span class="sr-only">Next Page</span>
            </a>
          </li>
          <li class="pagination-next">
            <a href="#" rel="last" title="Last Page">
              <i class="ci ci-pag-last" aria-hidden="true"></i>
              <span class="sr-only">Last Page</span>
            </a>
          </li>
        </ul>
      </div>
      <pre class="code">
  &lt;div class="cc-pagi" role="region" aria-label="Pagination"&gt;
    &lt;ul class="pagination"&gt;
      &lt;li class="pagination-previous disabled" aria-hidden="true"&gt;
        &lt;a href="#" rel="first" tabindex="-1"&gt;
          &lt;i class="ci ci-pag-top"&gt;&lt;/i&gt;
          &lt;span class="sr-only"&gt;Top Page&lt;/span&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="pagination-previous disabled" aria-hidden="true"&gt;
        &lt;a href="#" rel="previous" tabindex="-1"&gt;
          &lt;i class="ci ci-pag-pre"&gt;&lt;/i&gt;
          &lt;span class="sr-only"&gt;Previous Page&lt;/span&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li&gt;
      &lt;span title="Pagination : Current Item Range"&gt;
        &lt;div class="sr-only"&gt;Current Item Range&lt;/div&gt;
        1-10 / 100
      &lt;/span&gt;
      &lt;/li&gt;
      &lt;li class="pagination-next"&gt;
        &lt;a href="#" rel="next" title="Next Page"&gt;
          &lt;i class="ci ci-pag-next"&gt;&lt;/i&gt;
          &lt;span class="sr-only"&gt;Next Page&lt;/span&gt;
        &lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="pagination-next"&gt;
        &lt;a href="#" rel="last" title="Last Page"&gt;
          &lt;i class="ci ci-pag-last"&gt;&lt;/i&gt;
          &lt;span class="sr-only"&gt;Last Page&lt;/span&gt;
        &lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
  </pre>
  </div>
</div>
