<div class="cc-progress">
  <span class="cc-progress-number">60%</span>
  <div class="progress cc-progress-bg">
    <span class="progress-bar progress-color"
          role="progressbar" style="width: 60%;">
    </span>
  </div>
</div>
<pre class="code">
  &lt;div class="cc-progress"&gt;
  &lt;span class="cc-progress-number"&gt;60%&lt;/span&gt;
  &lt;div class="progress cc-progress-bg"&gt;
    &lt;span class="progress-bar progress-color"
          role="progressbar" style="width: 60%;"&gt;
    &lt;/span&gt;
  &lt;/div&gt;
&lt;/div&gt;
</pre>