<div class="tccui-component">
  <h1 class="cc-h">Space</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Space</h2>
    <ng-include src="'tpls/components/space/space-base.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Padding</h2>
    <ng-include src="'tpls/components/space/padding.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Gap (top margin)</h2>
    <ng-include src="'tpls/components/space/margin.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">2-column Layout</h2>
    <ng-include src="'tpls/components/space/2cols.html'"></ng-include>
  </div>
</div>
