<ul class="cc-list-group">
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <img src="static/dist/img/avatar/1.jpg" class="cc-thumbnail-img" alt="">
      </div>
    </div>
    <div class="cc-flex-main">
      <h3 class="cc-title">The first example demonstrates...</h3>
      <div class="cc-desc">1/20/2017</div>
    </div>
  </li>
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <img src="static/dist/img/avatar/2.jpg" class="cc-thumbnail-img" alt="">
      </div>
    </div>
    <div class="cc-flex-main">
      <h3 class="cc-title">The first example demonstrates...</h3>
      <div class="cc-desc">1/20/2017</div>
    </div>
  </li>
</ul>

<xmp class="code"><ul class="cc-list-group">
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <img src="static/dist/img/avatar/1.jpg" class="cc-thumbnail-img" alt="">
      </div>
    </div>
    <div class="cc-flex-main">
      <h3 class="cc-title">The first example demonstrates...</h3>
      <div class="cc-desc">1/20/2017</div>
    </div>
  </li>
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <img src="static/dist/img/avatar/2.jpg" class="cc-thumbnail-img" alt="">
      </div>
    </div>
    <div class="cc-flex-main">
      <h3 class="cc-title">The first example demonstrates...</h3>
      <div class="cc-desc">1/20/2017</div>
    </div>
  </li>
</ul></xmp>
