<ul class="cc-list-group">
  <li>
    <h3 class="cc-title">The first example in the list.</h3>
    <div class="cc-desc">1/20/2017</div>
  </li>
  <li>
    <h3 class="cc-title"><a href="#">The second item in the demo list</a></h3>
    <div class="cc-desc">1/20/2017</div>
  </li>
</ul>
<pre class="code">
  &lt;ul class="cc-list-group"&gt;
    &lt;li&gt;
      &lt;h3 class="cc-title"&gt;The first example in the list.&lt;/h3&gt;
      &lt;div class="cc-desc"&gt;1/20/2017&lt;/div&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;h3 class="cc-title"&gt;&lt;a href="#"&gt;The second item in the demo list&lt;/a&gt;&lt;/h3&gt;
      &lt;div class="cc-desc"&gt;1/20/2017&lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</pre>
