<div class="cc-panel">
  <h2>Data Default</h2>
      <div class="cc-panel">
        <div class="cc-item cc-padding-lg">
            <span class="cc-icon-box">
          <i class="ci ci-search"></i>
        </span>
            <span class="cc-item-desc">
        No Bookmarks found in this category
        </span>
        </div>
    </div>

        <pre class="code">
&lt;div class="cc-item cc-padding-lg"&gt;
        &lt;span class="cc-icon-box"&gt;
          &lt;i class="ci ci-search"&gt;&lt;/i&gt;
        &lt;/span&gt;
        &lt;span class="cc-item-desc"&gt;
        No Bookmarks found in this category
        &lt;/span&gt;
&lt;/div&gt;

</pre>
</div>
<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Data mini</h3>
    </div>
    <div class="cc-panel-body">
        <div class="cc-item cc-item-mini cc-padding-lg">
            <span class="cc-icon-box">
          <i class="ci ci-search"></i>
        </span>
            <span class="cc-item-desc">
        No Bookmarks found in this category
        </span>
        </div>
        <pre class="code">
&lt;div class="cc-item cc-item-mini cc-padding-lg"&gt;
        &lt;span class="cc-icon-box"&gt;
          &lt;i class="ci ci-search"&gt;&lt;/i&gt;
        &lt;/span&gt;
        &lt;span class="cc-item-desc"&gt;
        No Bookmarks found in this category
        &lt;/span&gt;
&lt;/div&gt;

</pre>
    </div>
</div>
<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Data multi row</h3>
    </div>
    <div class="cc-panel-body">
        <div class="cc-item cc-item-top cc-padding-lg">
            <span class="cc-icon-box">
          <i class="ci ci-search"></i>
        </span>
            <span class="cc-item-desc">
        You can not access information for now.

To further assist, please fill in the feekbac form in the help menu.

Or, go to campus help desk to see administor for help.
        </span>
        </div>
        <pre class="code">
&lt;div class="cc-item cc-item-top cc-padding-lg"&gt;
        &lt;span class="cc-icon-box"&gt;
          &lt;i class="ci ci-search"&gt;&lt;/i&gt;
        &lt;/span&gt;
        &lt;span class="cc-item-desc"&gt;
                You can not access information for now.

To further assist, please fill in the feekbac form in the help menu.

Or, go to campus help desk to see administor for help.
        &lt;/span&gt;
&lt;/div&gt;

</pre>
    </div>
</div>
