<div class="tccui-component">
  <h1 class="cc-h">Toolbar</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Simple Toolbar</h2>
    <ng-include src="'tpls/components/toolbar/toolbar-default.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">With Side Options</h2>
    <ng-include src="'tpls/components/toolbar/toolbar-button.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Top Toolbar : top of panel/dialog</h2>
    <ng-include src="'tpls/components/toolbar/toolbar-top.html'"></ng-include>
  </div>
</div>
