<div class="cc-toolbar" role="toolbar">
  <div class="cc-toolbar-btns">
    <div class="cc-btn-group">
      <button class="cc-btn" type="button" title="Checked Action">
        <i class="ci ci-check" aria-hidden="true"></i>
        <span class="cc-btn-label">Check</span>
      </button>
    </div>
    <div class="cc-btn-group dropdown">
      <button class="cc-btn cc-btn-split" type="button" title="Add">
        <i class="ci ci-add" aria-hidden="true"></i>
        <span class="cc-btn-label">Add</span>
      </button><button class="cc-btn cc-btn-split cc-btn-dropdown cc-tip" type="button" aria-label="More Add Action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="cc-dropdown-ind"></div>
      </button>
      <ul class="dropdown-menu cc-dropdown-menu" role="menu">
        <li role="presentation">
          <a href="#">Add from My Bookmarks</a>
        </li>
      </ul>
    </div>
    <div class="cc-btn-group">
      <button class="cc-btn" type="button" title="Category">
        <i class="ci ci-category" aria-hidden="true"></i>
        <span class="cc-btn-label">Category</span>
      </button>
      <button class="cc-btn" type="button" title="More">
        <i class="ci ci-more" aria-hidden="true"></i>
        <span class="cc-btn-label">More</span>
      </button>
    </div>
  </div>
  <div class="cc-toolbar-side">
    <button class="cc-btn" type="button" title="Search">
      <i class="ci ci-search" aria-hidden="true"></i>
      <span class="sr-only">Search</span>
    </button>
    <button class="cc-btn" type="button" title="Sort">
      <i class="ci ci-sort" aria-hidden="true"></i>
      <span class="sr-only">Sort</span>
    </button>
  </div>
</div>
<xmp class="code">
<div class="cc-toolbar" role="toolbar">
  <div class="cc-toolbar-btns">
    <div class="cc-btn-group">
      <button class="cc-btn" type="button" title="Checked Action">
        <i class="ci ci-check" aria-hidden="true"></i>
        <span class="cc-btn-label">Check</span>
      </button>
    </div>
    <div class="cc-btn-group dropdown">
      <button class="cc-btn cc-btn-split" type="button" title="Add">
        <i class="ci ci-add" aria-hidden="true"></i>
        <span class="cc-btn-label">Add</span>
      </button><button class="cc-btn cc-btn-split cc-btn-dropdown cc-tip" type="button" aria-label="More Add Action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="cc-dropdown-ind"></div>
      </button>
      <ul class="dropdown-menu cc-dropdown-menu" role="menu">
        <li role="presentation">
          <a href="#">Add from My Bookmarks</a>
        </li>
      </ul>
    </div>
    <div class="cc-btn-group">
      <button class="cc-btn" type="button" title="Category">
        <i class="ci ci-category" aria-hidden="true"></i>
        <span class="cc-btn-label">Category</span>
      </button>
      <button class="cc-btn" type="button" title="More">
        <i class="ci ci-more" aria-hidden="true"></i>
        <span class="cc-btn-label">More</span>
      </button>
    </div>
  </div>
  <div class="cc-toolbar-side">
    <button class="cc-btn" type="button" title="Search">
      <i class="ci ci-search" aria-hidden="true"></i>
      <span class="sr-only">Search</span>
    </button>
    <button class="cc-btn" type="button" title="Sort">
      <i class="ci ci-sort" aria-hidden="true"></i>
      <span class="sr-only">Sort</span>
    </button>
  </div>
</div>
</xmp>
