<div class="cc-notes" role="note">
  <h3 class="cc-h" id="note-heading">Notes</h3>
  <ul class="cc-list" aria-labelledby="note-heading">
    <li>Mauris quis nunc eget nisl molestie eleifend ut nec sapien.</li>
    <li>Aliquam pellentesque leo sed arcu faucibus dictum.</li>
    <li>Aenean eget turpis a ligula vulputate posuere.</li>
  </ul>
</div>
<pre class="code">
&lt;div class="cc-notes" role="note"&gt;
  &lt;h3 class="cc-h" id="note-heading"&gt;Notes&lt;/h3&gt;
  &lt;ul class="cc-list" aria-labelledby="note-heading"&gt;
    &lt;li&gt;Mauris quis nunc eget nisl molestie eleifend ut nec sapien.&lt;/li&gt;
    &lt;li&gt;Aliquam pellentesque leo sed arcu faucibus dictum.&lt;/li&gt;
    &lt;li&gt;Aenean eget turpis a ligula vulputate posuere.&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;

</pre>