<div class="tccui-component">
  <h1 class="cc-h">Notes</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Notes List</h2>
    <ng-include src="'tpls/components/note/base.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Notes Paragraph</h2>
    <ng-include src="'tpls/components/note/paragraph.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Notes Collapsible</h2>
    <ng-include src="'tpls/components/note/collapsible.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Notes Panel</h2>
    <ng-include src="'tpls/components/note/note-panel.html'"></ng-include>
  </div>
</div>
