<ul class="nav nav-tabs cc-tabs" role="tablist">
  <li class="active" role="presentation">
    <a href="#home-panel" role="tab" id="home-tab" data-toggle="tab" aria-controls="home-panel" aria-expanded="true" target="_self">
      Home Group
    </a>
  </li>
  <li role="presentation">
    <a href="#panel-two" role="tab" id="tab-two" data-toggle="tab" aria-controls="panel-two" aria-expanded="false" target="_self">
      Group Two
    </a>
  </li>
  <li role="presentation">
    <a href="#panel-three" role="tab" id="tab-three" data-toggle="tab" aria-controls="panel-three" aria-expanded="false" target="_self">
      Group Three
    </a>
  </li>
  <li role="presentation">
    <a href="#other-panel" role="tab" id="other-tab" data-toggle="tab" aria-controls="other-panel" aria-expanded="false" target="_self">
      Other Group
    </a>
  </li>
</ul>
<div class="tab-content cc-tab-content">
  <div id="home-panel" class="tab-pane fade active in" role="tab-panel" aria-labelledby="home-tab">Home Panel</div>
  <div id="panel-two" class="tab-pane fade" role="tab-panel" aria-labelledby="tab-two">Panel Two</div>
  <div id="panel-three" class="tab-pane fade" role="tab-panel" aria-labelledby="tab-three">Panel Three</div>
  <div id="other-panel" class="tab-pane fade" role="tab-panel" aria-labelledby="other-tab">Other Panel</div>
</div>
<pre class="code">
  &lt;ul class="nav nav-tabs cc-tabs" role="tablist"&gt;
    &lt;li class="active" role="presentation"&gt;
      &lt;a href="#home-panel" role="tab" id="home-tab" data-toggle="tab" aria-controls="home-panel" aria-expanded="true"&gt;
        Home Group
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li role="presentation"&gt;
      &lt;a href="#panel-two" role="tab" id="tab-two" data-toggle="tab" aria-controls="panel-two" aria-expanded="false"&gt;
        Group Two
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li role="presentation"&gt;
      &lt;a href="#panel-three" role="tab" id="tab-three" data-toggle="tab" aria-controls="panel-three" aria-expanded="false"&gt;
        Group Three
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li role="presentation"&gt;
      &lt;a href="#other-panel" role="tab" id="other-tab" data-toggle="tab" aria-controls="other-panel" aria-expanded="false"&gt;
        Other Group
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
  &lt;div class="tab-content cc-tab-content"&gt;
    &lt;div id="home-panel" class="tab-pane fade active in" role="tab-panel" aria-labelledby="home-tab"&gt;Home Panel&lt;/div&gt;
    &lt;div id="panel-two" class="tab-pane fade" role="tab-panel" aria-labelledby="tab-two"&gt;Panel Two&lt;/div&gt;
    &lt;div id="panel-three" class="tab-pane fade" role="tab-panel" aria-labelledby="tab-three"&gt;Panel Three&lt;/div&gt;
    &lt;div id="other-panel" class="tab-pane fade" role="tab-panel" aria-labelledby="other-tab"&gt;Other Panel&lt;/div&gt;
  &lt;/div&gt;
</pre>
