<ul class="nav nav-tabs cc-tabs cc-tabs-view" aria-label="Available View">
  <li class="active">
    <a href="page1.html">Status List</a>
  </li>
  <li>
    <a href="page2.html">Directory List</a>
  </li>
  <li>
    <a href="page3.html">E-mail List</a>
  </li>
  <li>
    <a href="page4.html">Misc List</a>
  </li>
</ul>
<xmp class="code">
<ul class="nav nav-tabs cc-tabs cc-tabs-view" aria-label="Available View">
  <li class="active">
    <a href="page1.html">Status List</a>
  </li>
  <li>
    <a href="page2.html">Directory List</a>
  </li>
  <li>
    <a href="page3.html">E-mail List</a>
  </li>
  <li>
    <a href="page4.html">Misc List</a>
  </li>
</ul>
</xmp>