<ul class="nav cc-tabs-flat" aria-label="Available View">
  <li class="active">
    <a href="#">Status List</a>
  </li>
  <li>
    <a href="#">Directory List</a>
  </li>
  <li>
    <a href="#">E-mail List</a>
  </li>
  <li>
    <a href="#">Misc List</a>
  </li>
</ul>

<pre class="code">
&lt;ul class="nav cc-tabs-flat" aria-label="Available View"&gt;
  &lt;li class="active"&gt; &lt;a href="#"&gt;Status List&lt;/a&gt; &lt;/li&gt;
  &lt;li&gt; &lt;a href="#"&gt;Directory List&lt;/a&gt; &lt;/li&gt;
  &lt;li&gt; &lt;a href="#"&gt;E-mail List&lt;/a&gt; &lt;/li&gt;
  &lt;li&gt; &lt;a href="#"&gt;Misc List&lt;/a&gt; &lt;/li&gt;
&lt;/ul&gt;
</pre>