<div class="tccui-component">
  <h1 class="cc-h">Tabs</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Tab List</h2>
    <ng-include src="'tpls/components/tabs/tabs-default.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Tab Panel</h2>
    <ng-include src="'tpls/components/tabs/tabs-panel.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Flat Tab</h2>
    <ng-include src="'tpls/components/tabs/tabs-flat.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Flat Tab wrapping in Small Screen </h2>
    <ng-include src="'tpls/components/tabs/tabs-flat2.html'"></ng-include>
  </div>
</div>