<div class="tccui-component">
  <h1 class="cc-h">Search</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Quick Search</h2>
    <ng-include src="'tpls/components/search/search-quick.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Cancel Quick Search</h2>
    <ng-include src="'tpls/components/search/search-cancel.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Search Group</h2>
    <ng-include src="'tpls/components/search/search-group.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Toggle to Search Panel</h2>
    <ng-include src="'tpls/components/search/search-toggle.html'"></ng-include>
  </div>
</div>
