<div class="cc-search-inline cc-inline-flex" role="search">
  <input type="text" class="form-control" placeholder="Search...">
  <button type="submit" class="cc-btn2 ci ci-cancel cc-spacer-left" title="Cancel">
    <div class="sr-only">Cancel</div>
  </button>
</div>
<pre class="code">
  &lt;div class="cc-search-inline cc-inline-flex" role="search"&gt;
    &lt;input type="text" class="form-control" placeholder="Search..."&gt;
    &lt;button type="submit" class="cc-btn2 ci ci-cancel cc-spacer-left" title="Cancel"&gt;
      &lt;div class="sr-only"&gt;Cancel&lt;/div&gt;
    &lt;/button&gt;
  &lt;/div&gt;
</pre>
