<div class="cc-box cc-center-area">
  <div class="cc-flex cc-flex-middle">
      <div class="cc-flex-icon">
        <i class="ci ci-search cc-icon-alert cc-icon-md" aria-hidden="true"></i>
      </div>
      <div class="cc-flex-main">
        No search result found.
      </div>
    </div>
  </div>
</div>

<pre class="code">
  &lt;div class="cc-box cc-center-area"&gt;
    &lt;div class="cc-flex cc-flex-middle"&gt;
        &lt;div class="cc-flex-icon"&gt;
          &lt;i class="ci ci-search cc-icon-alert cc-icon-md" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;/div&gt;
        &lt;div class="cc-flex-main"&gt;
          No search result found.
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</pre>
