<ul class="cc-list cc-list2">
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <i class="ci ci-survey" aria-hidden="true"></i>
      </div>
    </div>
    <div class="cc-flex-main">
      <h2 class="cc-h">
        <a href="#">Edit Survey</a>
      </h2>
      <div class="cc-text2 cc-gap-xs">
        Edit survey properties.
      </div>
    </div>
  </li>
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <i class="ci ci-edit" aria-hidden="true"></i>
      </div>
    </div>
    <div class="cc-flex-main">
      <h2 class="cc-h">
        <a href="#">Write Questions</a>
      </h2>
      <div class="cc-text2 cc-gap-xs">
        Edit survey properties.
      </div>
    </div>
  </li>
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <i class="ci ci-color" aria-hidden="true"></i>
      </div>
    </div>
    <div class="cc-flex-main">
      <h2 class="cc-h">
        <a href="#">Choose Display Theme</a>
      </h2>
      <div class="cc-text2 cc-gap-xs">
        Select from a list of themes to customize your survey
      </div>
    </div>
  </li>
</ul>

<xmp class="code"><ul class="cc-list cc-list2">
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <i class="ci ci-survey" aria-hidden="true"></i>
      </div>
    </div>
    <div class="cc-flex-main">
      <h2 class="cc-h">
        <a href="#">Edit Survey</a>
      </h2>
      <div class="cc-text2 cc-gap-xs">
        Edit survey properties.
      </div>
    </div>
  </li>
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <i class="ci ci-edit" aria-hidden="true"></i>
      </div>
    </div>
    <div class="cc-flex-main">
      <h2 class="cc-h">
        <a href="#">Write Questions</a>
      </h2>
      <div class="cc-text2 cc-gap-xs">
        Edit survey properties.
      </div>
    </div>
  </li>
  <li class="cc-flex">
    <div class="cc-flex-icon cc-list-icon cc-thumb-sm">
      <div class="cc-thumbnail-content">
        <i class="ci ci-color" aria-hidden="true"></i>
      </div>
    </div>
    <div class="cc-flex-main">
      <h2 class="cc-h">
        <a href="#">Choose Display Theme</a>
      </h2>
      <div class="cc-text2 cc-gap-xs">
        Select from a list of themes to customize your survey
      </div>
    </div>
  </li>
</ul></xmp>
