<span class="cc-avatar cc-thumb-xs cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-sm cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-md cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-lg cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-xlg cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>


<xmp class="code"><span class="cc-avatar cc-thumb-xs cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-sm cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-md cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-lg cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-xlg cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span></xmp>
