<span class="cc-avatar cc-thumb-xs cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-xs cc-avatar-bg" style="background-color: #cb9bef">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-xs cc-avatar-bg" style="background-color: #58e481">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>

<xmp class="code"><span class="cc-avatar cc-thumb-xs cc-avatar-bg">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-xs cc-avatar-bg" style="background-color: #cb9bef">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span>
<span class="cc-avatar cc-thumb-xs cc-avatar-bg" style="background-color: #58e481">
  <div class="cc-thumbnail-content">
    <i class="ci ci-upload"></i>
  </div>
</span></xmp>
