<dl class="cc-def-inline-list cc-attr-list">
  <dt class="cc-label" title="Updated By">
    <i class="ci ci-profile" aria-hidden="true"></i><span class="sr-only">Updated By</span>
  </dt>
  <dd>Edward</dd>
  <dt class="cc-label" title="Updated At">
    <i class="ci ci-clock" aria-hidden="true"></i><span class="sr-only">Updated At</span>
  </dt>
  <dd><time>17:00</time></dd>
</dl>
<pre class="code">
&lt;dl class="cc-def-inline-list cc-attr-list"&gt;
  &lt;dt class="cc-label" title="Updated By"&gt;
    &lt;i class="ci ci-profile" aria-hidden="true"&gt;&lt;/i&gt;
  &lt;span class="sr-only"&gt;Updated By&lt;/span&gt;
  &lt;/dt&gt;
  &lt;dd&gt;Edward&lt;/dd&gt;
  &lt;dt class="cc-label" title="Updated At"&gt;
    &lt;i class="ci ci-clock" aria-hidden="true"&gt;&lt;/i&gt;
  &lt;span class="sr-only"&gt;Updated At&lt;/span&gt;
  &lt;/dt&gt;
  &lt;dd&gt;&lt;time&gt;17:00&lt;/time&gt;&lt;/dd&gt;
&lt;/dl&gt;

</pre>
