<div class="tccui-component">
  <h1 class="cc-h">Definition List</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Top Down List</h2>
    <ng-include src="'tpls/components/definition/def-topdown.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Inline List</h2>
    <ng-include src="'tpls/components/definition/def-inline.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Attribute List</h2>
    <ng-include src="'tpls/components/definition/attr-list.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Attribute Icon List</h2>
    <ng-include src="'tpls/components/definition/attr-icon-list.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Multiple Value with Member, Time</h2>
    <ng-include src="'tpls/components/definition/attr-time-member.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Left and Right</h2>
    <ng-include src="'tpls/components/definition/attr-left-right.html'"></ng-include>
  </div>
</div>
