<div class="alert cc-alert-success collapse in" role="alert" id="msg-suc">
  The Settings have been updated successfully.
  <a class="ci ci-close pull-right" role="button" data-toggle="collapse" href="#msg-suc" aria-expanded="true" aria-controls="msg-suc" title="Close">
    <span class="sr-only">Close</span>
  </a>
</div>
<pre class="code">
&lt;div class="alert cc-alert-success collapse in" role="alert" id="msg-suc"&gt;
  The Settings have been updated successfully.
  &lt;a class="ci ci-close pull-right" role="button"
  data-toggle="collapse" href="#msg-suc" aria-expanded="true"
  aria-controls="msg-suc" title="Close"&gt;
    &lt;span class="sr-only"&gt;Close&lt;/span&gt;
  &lt;/a&gt;
&lt;/div&gt;

</pre>