<div class="tccui-component">
  <h1 class="cc-h">Message</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Success</h2>
    <ng-include src="'tpls/components/messages/success.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Warning</h2>
    <ng-include src="'tpls/components/messages/warning.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Error/Failure</h2>
    <ng-include src="'tpls/components/messages/fail.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Result Count</h2>
    <ng-include src="'tpls/components/messages/stat.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Snackbar</h2>
    <ng-include src="'tpls/components/messages/action.html'"></ng-include>
  </div>
</div>
