<div class="alert cc-alert-warning collapse in" role="alert" id="msg-warn">
  Your account is expired.
  <a class="ci ci-close pull-right" role="button" data-toggle="collapse" href="#msg-warn" aria-expanded="true" aria-controls="msg-warn" title="Close">
    <span class="sr-only">Close</span>
  </a>
</div>
<pre class="code">
&lt;div class="alert cc-alert-warning collapse in" role="alert" id="msg-warn"&gt;
  Your account is expired.
  &lt;a class="ci ci-close pull-right" role="button" data-toggle="collapse"
  href="#msg-warn" aria-expanded="true"
  aria-controls="msg-warn" title="Close"&gt;
    &lt;span class="sr-only"&gt;Close&lt;/span&gt;
  &lt;/a&gt;
&lt;/div&gt;

</pre>