html,
body {
  background: #f6f6f6;
  font-family: Open Sans, sans-serif;
  color: #3a3c3f;
  font-size: 15px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

#tccui-body, #tccui-content {
  height: 100%;
}

#tccui-content {
  margin-top: 60px;
}

#tccui-body > .navbar {
  background-color: #f3f6f9;
  margin: 0;
}

.tccui-left, .tccui-right {
  padding: 0;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
}

a:active, a:focus {
  outline: 0;
}

strong {
  color: #38c3f8;
}

.container {
  max-width: 1200px;
  width: auto;
}

.layout-container.cc-sidebar-content {
  padding-left: 200px;
}

.layout-container.cc-sidebar-content.cc-sidebar-mini {
  padding-left: 50px;
}

.tccui-component > h1.cc-h {
  font-size: 1.5rem;
  font-weight: 200;
  margin: 0 auto 1rem auto;
  max-width: 90vw;
  text-align: center;
  width: 750px;
}

.tccui-component > .cc-panel, .tccui-component > .ng-scope > .cc-panel {
  margin: 0 auto 1rem auto;
  max-width: 90vw;
  width: 750px;
  padding: 2rem;
}

.tccui-component > .cc-panel > h2.cc-h {
  background-color: #fafafa;
  margin: -2rem -2rem 2rem -2rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid #ddd;
}

.tccui-component > .cc-panel > h2.cc-h + ol.cc-list {
  margin-top: 0;
}

pre, xmp {
  font-size: 13px;
  border: none;
  margin-bottom: 0;
  padding: 0;
}

pre.code, xmp.code {
  background-color: #fff;
  border-top: 1px solid #ddd;
  color: #5c90d2;
  clear: both;
  margin: 2rem -2rem 0 -2rem;
  padding: 1rem 2rem;
}

pre.code .required, xmp.code .required {
  color: #f00;
  margin-bottom: 0;
}

pre.code:before, xmp.code:before {
  color: #5c90d2;
  content: "Code Example";
  font-size: 1.1rem;
  display: block;
  padding: 0 0 0.5rem 0;
}

.cc-code-bar {
  background-color: #22dbc8;
  position: relative;
  min-height: 40px;
  margin: 25px 0 0;
  cursor: pointer;
}

.cc-code-bar.bgColor {
  background-color: #22dbc8;
}

.cc-code-bar.bgColor:before {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Example";
}

.cc-code-bar:before {
  position: absolute;
  top: 13px;
  left: 15px;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Example";
}

.cc-btn {
  border: 1px solid #ddd;
  color: #666;
}

.cc-btn-primary {
  color: #fff;
}

.cc-btn:hover {
  background-color: #e9eaec;
  text-decoration: none;
}

.cc-btn-primary:hover {
  background-color: #38c3f8;
  border: 1px solid #38c3f8;
  color: #fff;
}

.cc-notes {
  color: #606369;
}

.cc-panel + .cc-panel {
  margin-top: 3rem;
}

.cc-desc, .cc-text2 {
  color: #667369;
}

#tccui-aside {
  position: fixed;
  z-index: 2;
}

#tccui-aside .cc-aside-header {
  display: none;
}

#tccui-aside a {
  display: block;
}

#tccui-aside a:hover {
  background-color: #ffc;
}

#tccui-aside .tccui-aside-body {
  min-width: 260px;
  padding: 0;
}

#tccui-aside .tccui-aside-body > ul.cc-list2 > li > a {
  padding: 0.5rem 1rem;
}

#tccui-aside .tccui-aside-body > ul.cc-list2 > li > ul > li.active {
  background: #eee;
}

#tccui-aside .tccui-aside-body > ul.cc-list2 > li > ul > li > a, #tccui-aside .tccui-aside-body > ul.cc-list2 > li > ul > li div {
  padding: 0.5rem 1rem 0.5rem 2.5rem;
}

#tccui-aside .tccui-aside-body > ul.cc-list2 > li > ul > li > ul > li > a {
  padding: 0.5rem 1rem 0.5rem 3.5rem;
}

#tccui-aside .tccui-aside-body i.ci {
  margin-right: 0.25rem;
}

.cc-aside#tccui-aside .cc-aside-header {
  display: block;
}

.demo-list {
  background: url("../img/icons/bottom-tear.svg") left bottom;
  background-repeat: repeat-x;
  list-style: none;
}

.demo-list > li {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-radius: 1px;
  padding: 15px;
}

.demo-list > li:last-child {
  border-bottom: none;
}

.demo-list > li .idx {
  background: #29ccb4;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  margin-right: 15px;
}

.demo-list > li a {
  color: #333;
}

.demo-list > li:hover {
  background-color: #f5f5f5;
  /*  border-bottom: 1px solid #8b82c3;*/
}

.status {
  display: inline-block;
  float: right;
  height: 24px;
  border-radius: 3px;
  color: #fff;
  padding: 3px 5px;
  text-align: center;
  margin-top: 8px;
}

.status.status-unfinished {
  background-color: #ff0000;
}
