<div class="tccui-component">
  <div class="cc-panel">
    <h2 class="cc-h">Simple Panel</h2>
    <ng-include src="'tpls/components/box/panel.html'"></ng-include>
  </div>

  <div class="cc-panel">
    <h2 class="cc-h">Panel with header</h2>
    <ng-include src="'tpls/components/box/panel-w-header.html'"></ng-include>
  </div>

  <div class="cc-panel">
    <h2 class="cc-h">Round CornerBox</h2>
    <ng-include src="'tpls/components/box/box-round.html'"></ng-include>
  </div>

  <div class="cc-panel">
    <h2 class="cc-h">Box shadow</h2>
    <ng-include src="'tpls/components/box/box-shadow.html'"></ng-include>
  </div>

  <div class="cc-panel">
    <h2 class="cc-h">Highlight</h2>
    <ng-include src="'tpls/components/box/box-highlight.html'"></ng-include>
  </div>

  <div class="cc-panel">
    <h2 class="cc-h">Alternate / Secondary Box</h2>
    <ng-include src="'tpls/components/box/box-shade.html'"></ng-include>
  </div>

  <div class="cc-panel">
    <h2 class="cc-h">Notes</h2>
    <ng-include src="'tpls/components/box/box-notes.html'"></ng-include>
  </div>

</div>
