<div class="tccui-component">
  <h1 class="cc-h">Date Picker</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Date Picker Base</h2>
    <ng-include src="'tpls/components/datepicker/datepicker-base.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Date and Time</h2>
    <ng-include src="'tpls/components/datepicker/date-time.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Time</h2>
    <ng-include src="'tpls/components/datepicker/time.html'"></ng-include>
  </div>
</div>
