<div class="tccui-component">
  <h1 class="cc-h">Heading</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Heading</h2>
    <ng-include src="'tpls/components/heading/base.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">With Tools</h2>
    <ng-include src="'tpls/components/heading/heading-button.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">List Title</h2>
    <ng-include src="'tpls/components/heading/heading-title.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Sub-heading & Section</h2>
    <ng-include src="'tpls/components/heading/heading-section.html'"></ng-include>
  </div>
</div>
