<div class="cc-panel">
  <h2 class="cc-list-h">
    List Group Headers
  </h2>
  <ul class="cc-list-group">
    <li>
      <h3 class="cc-title">The first example demonstrates...</h3>
    </li>
    <li>
      <h3 class="cc-title">The first example demonstrates...</h3>
    </li>
  </ul>
</div>

<pre class="code">
&lt;div class="cc-panel"&gt;
  &lt;h2 class="cc-list-h"&gt;
    List Group Headers
  &lt;/h2&gt;
  &lt;ul class="cc-list-group"&gt;
    &lt;li&gt;
      &lt;h3 class="cc-title"&gt;The first example demonstrates...&lt;/h3&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;h3 class="cc-title"&gt;The first example demonstrates...&lt;/h3&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
