<h2>Bubble Dialog top</h2>
<div class="popover top cc-popover" style="display: block;width: 400px;">
    <div class="arrow"></div>
    <div class="cc-tab-area">
        <div class="cc-tab-list">
            <ul class="nav nav-tabs cc-tabs" role="tablist">
                <li class="active">
                    <a href="#tabs01" role="tab">Extra Credit</a>
                </li>
                <li>
                    <a href="#tabs02" role="tab">Comment</a>
                </li>
                <li>
                    <a href="#tabs03" role="tab">Jot-it Note</a>
                </li>
            </ul>
        </div>
        <div class="cc-tab-option">
            <a href="#" class="cc-icon" title="Close">
                <i class="ci ci-close" aria-hidden="true"></i>
                <span class="sr-only">Close</span>
            </a>
        </div>
    </div>
    <div class="popover-content">
        <div class="input-group cc-popover-input">
            <input type="text" class="form-control" aria-label="Extra Credit">
            <span class="input-group-btn">
              <button class="btn cc-btn cc-btn-primary" type="button">Save</button>
            </span>
        </div>
    </div>
</div>

        <pre class="code" style="margin-top:100px;">
&lt;div class="popover top cc-popover" style="display: block;width: 400px;"&gt;
  &lt;div class="arrow"&gt;&lt;/div&gt;
    &lt;div class="cc-tab-area"&gt;
      &lt;div class="cc-tab-list"&gt;
        &lt;ul class="nav nav-tabs cc-tabs" role="tablist"&gt;
          &lt;li class="active"&gt;
            &lt;a href="#tabs01" role="tab"&gt;Extra Credit&lt;/a&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;a href="#tabs02" role="tab"&gt;Comment&lt;/a&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;a href="#tabs03" role="tab"&gt;Jot-it Note&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;div class="cc-tab-option"&gt;
      &lt;a href="#" class="cc-icon" title="Close"&gt;
        &lt;i class="ci ci-close" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;span class="sr-only"&gt;Close&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="popover-content"&gt;
    &lt;div class="input-group cc-popover-input"&gt;
      &lt;input type="text" class="form-control" aria-label="Extra Credit"&gt;
      &lt;span class="input-group-btn"&gt;
      &lt;button class="btn cc-btn cc-btn-primary" type="button"&gt;Save&lt;/button&gt;
    &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

</pre>
    </div>
</div>
<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Bubble Dialog Top Right</h3>
    </div>
    <div class="cc-panel-body" style="position:relative">


       <div class="popover top cc-popover" style="display: block;width: 400px;">
            <div class="arrow cc-popover-arrow-r"></div>
            <div class="cc-tab-area">
                <div class="cc-tab-list">
                    <ul class="nav nav-tabs cc-tabs" role="tablist">
                        <li class="active">
                            <a href="#tabs01" role="tab">Extra Credit</a>
                        </li>
                        <li>
                            <a href="#tabs02" role="tab">Comment</a>
                        </li>
                        <li>
                            <a href="#tabs03" role="tab">Jot-it Note</a>
                        </li>
                    </ul>
                </div>
                <div class="cc-tab-option">
                    <a href="#" class="cc-icon" title="Close">
                        <i class="ci ci-close" aria-hidden="true"></i>
                        <span class="sr-only">Close</span>
                    </a>
                </div>
            </div>
            <div class="popover-content">
                <div class="input-group cc-popover-input">
                    <input type="text" class="form-control" aria-label="Extra Credit">
                    <span class="input-group-btn">
        <button class="btn cc-btn cc-btn-primary" type="button">Save</button>
      </span>
                </div>
            </div>
        </div>
        <!-- body -->

<pre class="code" style="margin-top:100px;">
&lt;div class="popover top cc-popover" style="display: block;width: 400px;"&gt;
  &lt;div class="arrow cc-popover-arrow-r"&gt;&lt;/div&gt;
    &lt;div class="cc-tab-area"&gt;
      &lt;div class="cc-tab-list"&gt;
        &lt;ul class="nav nav-tabs cc-tabs" role="tablist"&gt;
          &lt;li class="active"&gt;
            &lt;a href="#tabs01" role="tab"&gt;Extra Credit&lt;/a&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;a href="#tabs02" role="tab"&gt;Comment&lt;/a&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;a href="#tabs03" role="tab"&gt;Jot-it Note&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;div class="cc-tab-option"&gt;
      &lt;a href="#" class="cc-icon" title="Close"&gt;
        &lt;i class="ci ci-close" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;span class="sr-only"&gt;Close&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="popover-content"&gt;
    &lt;div class="input-group cc-popover-input"&gt;
      &lt;input type="text" class="form-control" aria-label="Extra Credit"&gt;
      &lt;span class="input-group-btn"&gt;
        &lt;button class="btn cc-btn cc-btn-primary" type="button"&gt;Save&lt;/button&gt;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

</pre>
</div>
</div>


<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Bubble Dialog Bottom</h3>
    </div>
    <div class="cc-panel-body" style="position:relative">


     <div class="popover bottom cc-popover" style=" display: block;width: 400px;">
  <div class="arrow"></div>
  <div class="cc-tab-area">
    <div class="cc-tab-list">
      <ul class="nav nav-tabs cc-tabs" role="tablist">
        <li class="active">
          <a href="#tabs01" role="tab">Extra Credit</a>
        </li>
        <li>
          <a href="#tabs02" role="tab">Comment</a>
        </li>
        <li>
          <a href="#tabs03" role="tab">Jot-it Note</a>
        </li>
      </ul>
    </div>
    <div class="cc-tab-option">
      <a href="#" class="cc-icon" title="Close">
        <i class="ci ci-close" aria-hidden="true"></i>
        <span class="sr-only">Close</span>
      </a>
    </div>
  </div>
  <div class="popover-content">
    <div class="input-group cc-popover-input">
      <input type="text" class="form-control" aria-label="Extra Credit">
      <span class="input-group-btn">
        <button class="btn btn-default cc-btn-primary" type="button">Save</button>
      </span>
    </div>
  </div>
</div>
        <!-- body -->

<pre class="code" style="margin-top:100px;">
&lt;div class="popover top cc-popover" style="display: block;width: 400px;"&gt;
  &lt;div class="arrow cc-popover-arrow-r"&gt;&lt;/div&gt;
    &lt;div class="cc-tab-area"&gt;
      &lt;div class="cc-tab-list"&gt;
        &lt;ul class="nav nav-tabs cc-tabs" role="tablist"&gt;
          &lt;li class="active"&gt;
            &lt;a href="#tabs01" role="tab"&gt;Extra Credit&lt;/a&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;a href="#tabs02" role="tab"&gt;Comment&lt;/a&gt;
          &lt;/li&gt;
          &lt;li&gt;
            &lt;a href="#tabs03" role="tab"&gt;Jot-it Note&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;div class="cc-tab-option"&gt;
      &lt;a href="#" class="cc-icon" title="Close"&gt;
        &lt;i class="ci ci-close" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;span class="sr-only"&gt;Close&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="popover-content"&gt;
    &lt;div class="input-group cc-popover-input"&gt;
      &lt;input type="text" class="form-control" aria-label="Extra Credit"&gt;
      &lt;span class="input-group-btn"&gt;
        &lt;button class="btn cc-btn cc-btn-primary" type="button"&gt;Save&lt;/button&gt;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

</pre>
</div>
</div>

<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Bubble Dialog Bottom Right</h3>
    </div>
    <div class="cc-panel-body" style="position:relative">


   <div class="popover bottom cc-popover" style=" display: block;width: 400px;">
  <div class="arrow cc-popover-arrow-r"></div>
  <div class="cc-tab-area">
    <div class="cc-tab-list">
      <ul class="nav nav-tabs cc-tabs" role="tablist">
        <li class="active">
          <a href="#tabs01" role="tab">Extra Credit</a>
        </li>
        <li>
          <a href="#tabs02" role="tab">Comment</a>
        </li>
        <li>
          <a href="#tabs03" role="tab">Jot-it Note</a>
        </li>
      </ul>
    </div>
    <div class="cc-tab-option">
      <a href="#" class="cc-icon" title="Close">
        <i class="ci ci-close" aria-hidden="true"></i>
        <span class="sr-only">Close</span>
      </a>
    </div>
  </div>
  <div class="popover-content">
    <div class="input-group cc-popover-input">
      <input type="text" class="form-control" aria-label="Extra Credit">
      <span class="input-group-btn">
        <button class="btn btn-default cc-btn-primary" type="button">Save</button>
      </span>
    </div>
  </div>
</div>
        <!-- body -->

<pre class="code" style="margin-top:100px;">
&lt;div class="popover bottom cc-popover" style=" display: block;width: 400px;"&gt;
  &lt;div class="arrow"&gt;&lt;/div&gt;
  &lt;div class="cc-tab-area"&gt;
    &lt;div class="cc-tab-list"&gt;
      &lt;ul class="nav nav-tabs cc-tabs" role="tablist"&gt;
        &lt;li class="active"&gt;
          &lt;a href="#tabs01" role="tab"&gt;Extra Credit&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#tabs02" role="tab"&gt;Comment&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#tabs03" role="tab"&gt;Jot-it Note&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="cc-tab-option"&gt;
      &lt;a href="#" class="cc-icon" title="Close"&gt;
        &lt;i class="ci ci-close" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;span class="sr-only"&gt;Close&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="popover-content"&gt;
    &lt;div class="input-group cc-popover-input"&gt;
      &lt;input type="text" class="form-control" aria-label="Extra Credit"&gt;
      &lt;span class="input-group-btn"&gt;
        &lt;button class="btn btn-default cc-btn-primary" type="button"&gt;Save&lt;/button&gt;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

</pre>
</div>
</div>


<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Bubble Dialog Bottom Left</h3>
    </div>
    <div class="cc-panel-body" style="position:relative">


<div class="popover bottom cc-popover" style=" display: block;width: 400px;">
  <div class="arrow cc-popover-arrow-l"></div>
  <div class="cc-tab-area">
    <div class="cc-tab-list">
      <ul class="nav nav-tabs cc-tabs" role="tablist">
        <li class="active">
          <a href="#tabs01" role="tab">Extra Credit</a>
        </li>
        <li>
          <a href="#tabs02" role="tab">Comment</a>
        </li>
        <li>
          <a href="#tabs03" role="tab">Jot-it Note</a>
        </li>
      </ul>
    </div>
    <div class="cc-tab-option">
      <a href="#" class="cc-icon" title="Close">
        <i class="ci ci-close" aria-hidden="true"></i>
        <span class="sr-only">Close</span>
      </a>
    </div>
  </div>
  <div class="popover-content">
    <div class="input-group cc-popover-input">
      <input type="text" class="form-control" aria-label="Extra Credit">
      <span class="input-group-btn">
        <button class="btn btn-default cc-btn-primary" type="button">Save</button>
      </span>
    </div>
  </div>
</div>
        <!-- body -->

<pre class="code" style="margin-top:100px;">
&lt;div class="popover bottom cc-popover" style=" display: block;width: 400px;"&gt;
  &lt;div class="arrow cc-popover-arrow-l"&gt;&lt;/div&gt;
  &lt;div class="cc-tab-area"&gt;
    &lt;div class="cc-tab-list"&gt;
      &lt;ul class="nav nav-tabs cc-tabs" role="tablist"&gt;
        &lt;li class="active"&gt;
          &lt;a href="#tabs01" role="tab"&gt;Extra Credit&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#tabs02" role="tab"&gt;Comment&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#tabs03" role="tab"&gt;Jot-it Note&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="cc-tab-option"&gt;
      &lt;a href="#" class="cc-icon" title="Close"&gt;
        &lt;i class="ci ci-close" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;span class="sr-only"&gt;Close&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="popover-content"&gt;
    &lt;div class="input-group cc-popover-input"&gt;
      &lt;input type="text" class="form-control" aria-label="Extra Credit"&gt;
      &lt;span class="input-group-btn"&gt;
        &lt;button class="btn btn-default cc-btn-primary" type="button"&gt;Save&lt;/button&gt;
      &lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

</pre>
</div>
</div>


<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Settings</h3>
    </div>
    <div class="cc-panel-body" style="position:relative">


<div class="popover bottom cc-popover" style=" display: block;width: 250px;">
  <div class="arrow"></div>
  <form name="setting">
    <div class="popover-content">
      <div id="popover-title">Grade Summary Settings</div>
      <div class="checkbox">
        <label>
          <input checked="checked" name="summaryDisplays" value="TOTAL" id="total-points" type="checkbox">Total Points
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input checked="checked" name="summaryDisplays" value="PCT" id="total-pct" type="checkbox">Total %
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input checked="checked" name="summaryDisplays" value="total-weighted" id="TOTAL_WEIGHT" type="checkbox">Total Weighted %
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input checked="checked" name="summaryDisplays" value="final-score" id="FINAL_SCORE" type="checkbox">Final Score
        </label>
      </div>
    </div>
    <div class="cc-popover-footer">
      <button type="submit" class="btn cc-btn cc-btn-primary" id="save-setting">Save</button>
      <button type="button" class="btn cc-btn" id="cancel-setting">Cancel</button>
    </div>
  </form>
</div>
        <!-- body -->

<pre class="code" style="margin-top:250px;">
&lt;div class="popover bottom cc-popover" style=" display: block;width: 250px;"&gt;
  &lt;div class="arrow"&gt;&lt;/div&gt;
  &lt;form name="setting"&gt;
    &lt;div class="popover-content"&gt;
      &lt;div id="popover-title"&gt;Grade Summary Settings&lt;/div&gt;
      &lt;div class="checkbox"&gt;
        &lt;label&gt;
          &lt;input checked="checked" name="summaryDisplays" value="TOTAL" id="total-points" type="checkbox"&gt;Total Points
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class="checkbox"&gt;
        &lt;label&gt;
          &lt;input checked="checked" name="summaryDisplays" value="PCT" id="total-pct" type="checkbox"&gt;Total %
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class="checkbox"&gt;
        &lt;label&gt;
          &lt;input checked="checked" name="summaryDisplays" value="total-weighted" id="TOTAL_WEIGHT" type="checkbox"&gt;Total Weighted %
        &lt;/label&gt;
      &lt;/div&gt;
      &lt;div class="checkbox"&gt;
        &lt;label&gt;
          &lt;input checked="checked" name="summaryDisplays" value="final-score" id="FINAL_SCORE" type="checkbox"&gt;Final Score
        &lt;/label&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="cc-popover-footer"&gt;
      &lt;button type="submit" class="btn cc-btn cc-btn-primary" id="save-setting"&gt;Save&lt;/button&gt;
      &lt;button type="button" class="btn cc-btn" id="cancel-setting"&gt;Cancel&lt;/button&gt;
    &lt;/div&gt;
  &lt;/form&gt;
&lt;/div&gt;

</pre>
</div>
</div>



<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Footer with Two Group Buttons</h3>
    </div>
    <div class="cc-panel-body" style="position:relative">

<div class="popover bottom cc-popover" style=" display: block;width: 400px;">
  <div class="arrow"></div>
  <div class="cc-tab-area">
    <div class="cc-tab-list">
      <ul class="nav nav-tabs cc-tabs" role="tablist">
        <li class="active">
          <a href="#tabs01" role="tab">Extra Credit</a>
        </li>
        <li>
          <a href="#tabs02" role="tab">Comment</a>
        </li>
        <li>
          <a href="#tabs03" role="tab">Jot-it Note</a>
        </li>
      </ul>
    </div>
    <div class="cc-tab-option">
      <a href="#" class="cc-icon" title="Close">
        <i class="ci ci-close" aria-hidden="true"></i>
        <span class="sr-only">Close</span>
      </a>
    </div>
  </div>
  <div class="popover-content">
    <div class="input-group" style="width:100%">
      <input type="text" class="form-control" style="width:100%" aria-label="Extra Credit">
    </div>
  </div>
  <div class="cc-popover-footer">
    <div class="pull-left">
      <button type="button" class="btn cc-btn" id="btn-detail">Detail</button>
    </div>
    <button type="submit" class="btn cc-btn cc-btn-primary" id="bt-save">Save</button>
    <button type="button" class="btn cc-btn" id="btn-cancel" data-cc-dismiss="popover">Cancel</button>
  </div>
</div>
        <!-- body -->

<pre class="code" style="margin-top:250px;">
&lt;div class="popover bottom cc-popover" style=" display: block;width: 400px;"&gt;
  &lt;div class="arrow"&gt;&lt;/div&gt;
  &lt;div class="cc-tab-area"&gt;
    &lt;div class="cc-tab-list"&gt;
      &lt;ul class="nav nav-tabs cc-tabs" role="tablist"&gt;
        &lt;li class="active"&gt;
          &lt;a href="#tabs01" role="tab"&gt;Extra Credit&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#tabs02" role="tab"&gt;Comment&lt;/a&gt;
        &lt;/li&gt;
        &lt;li&gt;
          &lt;a href="#tabs03" role="tab"&gt;Jot-it Note&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class="cc-tab-option"&gt;
      &lt;a href="#" class="cc-icon" title="Close"&gt;
        &lt;i class="ci ci-close" aria-hidden="true"&gt;&lt;/i&gt;
        &lt;span class="sr-only"&gt;Close&lt;/span&gt;
      &lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="popover-content"&gt;
    &lt;div class="input-group" style="width:100%"&gt;
      &lt;input type="text" class="form-control" style="width:100%" aria-label="Extra Credit"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="cc-popover-footer"&gt;
    &lt;div class="pull-left"&gt;
      &lt;button type="button" class="btn cc-btn" id="btn-detail"&gt;Detail&lt;/button&gt;
    &lt;/div&gt;
    &lt;button type="submit" class="btn cc-btn cc-btn-primary" id="bt-save"&gt;Save&lt;/button&gt;
    &lt;button type="button" class="btn cc-btn" id="btn-cancel" <strong>data-cc-dismiss="popover"</strong>&gt;Cancel&lt;/button&gt;
  &lt;/div&gt;
&lt;/div&gt;

</pre>
</div>
</div>


<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Click to Pop</h3>
    </div>
    <div class="cc-panel-body" style="position:relative">

<div class="cc-toolbar">
  <div class="cc-toolbar-row">
  <div class="cc-toolbar-left">
    <div class="dropdown">
      <a href="javascript:void(0)" class="cc-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="ci ci-add" aria-hidden="true"></i> Add Item</span>
      </a>
      <div class="dropdown-menu popover bottom cc-popover" style="width:300px">
        <div class="arrow cc-popover-arrow-l"></div>
        <div class="popover-content">
          <div class="input-group cc-popover-input">
            <input type="text" class="form-control" aria-label="Item" placeholder="Please enter item name.">
            <span class="input-group-btn">
              <button class="btn btn-default cc-btn-primary" type="button">Save</button>
            </span>
          </div>
        </div>
      </div>
    </div>
    </div>

  <div class="cc-toolbar-right">
    <div class="dropdown">
      <a href="javascript:void(0)" class="btn cc-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Settings
      </a>
      <div class="dropdown-menu dropdown-menu-right popover bottom cc-popover" style="width: 250px">
        <div class="arrow cc-popover-arrow-r"></div>
          <div class="popover-content">
            <div id="popover-title">Grade Summary Settings</div>
            <div class="checkbox">
              <label>
                <input checked="checked" name="summaryDisplays" value="TOTAL" id="total-points" type="checkbox">Total Points
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input checked="checked" name="summaryDisplays" value="PCT" id="total-pct" type="checkbox">Total %
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input checked="checked" name="summaryDisplays" value="total-weighted" id="TOTAL_WEIGHT" type="checkbox">Total Weighted %
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input checked="checked" name="summaryDisplays" value="final-score" id="FINAL_SCORE" type="checkbox">Final Score
              </label>
            </div>
          </div>
          <div class="cc-popover-footer">
            <button type="button" class="btn cc-btn cc-btn-primary" id="save-setting">Save</button>
            <button type="button" class="btn cc-btn" id="cancel-setting" data-cc-dismiss="popover">Cancel</button>
          </div>
      </div>
    </div>
  </div>
</div>

        <!-- body -->

<pre class="code" style="margin-top:50px;">
&lt;div class="cc-toolbar"&gt;
  &lt;div class="cc-page-action"&gt;
    &lt;div class="dropdown"&gt;
      &lt;a href="#" class="btn cc-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
        &lt;i class="ci ci-add" aria-hidden="true"&gt;&lt;/i&gt; Add Item&lt;/span&gt;
      &lt;/a&gt;
      &lt;div class="dropdown-menu popover bottom cc-popover" style="width:300px"&gt;
        &lt;div class="arrow cc-popover-arrow-l"&gt;&lt;/div&gt;
        &lt;div class="popover-content"&gt;
          &lt;div class="input-group cc-popover-input"&gt;
            &lt;input type="text" class="form-control" aria-label="Item" placeholder="Please enter item name."&gt;
            &lt;span class="input-group-btn"&gt;
              &lt;button class="btn btn-default cc-btn-primary" type="button"&gt;Save&lt;/button&gt;
            &lt;/span&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="cc-option"&gt;
    &lt;div class="dropdown"&gt;
      &lt;a href="#" class="btn cc-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
        Settings
      &lt;/a&gt;
      &lt;div class="dropdown-menu dropdown-menu-right popover bottom cc-popover" style="width: 250px"&gt;
        &lt;div class="arrow cc-popover-arrow-r"&gt;&lt;/div&gt;
          &lt;div class="popover-content"&gt;
            &lt;div id="popover-title"&gt;Grade Summary Settings&lt;/div&gt;
            &lt;div class="checkbox"&gt;
              &lt;label&gt;
                &lt;input checked="checked" name="summaryDisplays" value="TOTAL" id="total-points" type="checkbox"&gt;Total Points
              &lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="checkbox"&gt;
              &lt;label&gt;
                &lt;input checked="checked" name="summaryDisplays" value="PCT" id="total-pct" type="checkbox"&gt;Total %
              &lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="checkbox"&gt;
              &lt;label&gt;
                &lt;input checked="checked" name="summaryDisplays" value="total-weighted" id="TOTAL_WEIGHT" type="checkbox"&gt;Total Weighted %
              &lt;/label&gt;
            &lt;/div&gt;
            &lt;div class="checkbox"&gt;
              &lt;label&gt;
                &lt;input checked="checked" name="summaryDisplays" value="final-score" id="FINAL_SCORE" type="checkbox"&gt;Final Score
              &lt;/label&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="cc-popover-footer"&gt;
            &lt;button type="button" class="btn cc-btn cc-btn-primary" id="save-setting"&gt;Save&lt;/button&gt;
            &lt;button type="button" class="btn cc-btn" id="cancel-setting" <strong>data-cc-dismiss="popover"</strong>&gt;Cancel&lt;/button&gt;
          &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

</pre>
  <ul class="cc-list">
    <li>In the web semestic, it's same as panel toggling.</li>
    <li>Use bootstrap dropdown to toggle.</li>
    <li>Do not use <abbr>aria</abbr> <code>role="dialog"</code></li>
    <li>To close it, add attribute <code>data-cc-dismiss="popover"</code> to button.</li>
  </ul>
</div>
</div>

<div class="cc-panel">
    <div class="cc-panel-header">
        <h3 class="cc-panel-title">Load Popup dialog via ajax</h3>
    </div>
    <div class="cc-panel-body" style="position:relative">
       <div class="cc-toolbar">
  <div class="cc-page-action">
    <a href="javascript:void(0)" class="btn cc-btn" role="button" id="add-item" data-toggle="popover" aria-expanded="false">
      <i class="ci ci-add" aria-hidden="true"></i> Add Item</span>
    </a>
  </div>
</div>
<script>
$('#add-item').popover({
  animation:false,
  html: true,
  trigger: 'manual',
  content: function() {
    return $.ajax({url: "sample-add-item.html",
                   dataType: 'html',
                   async: false}).responseText;
  },
  placement:"bottom"
}).click(function(e) {
  $(this).popover('toggle');
});
$('#add-item').on("show.bs.popover",function(){
  var $pop=$(this).data("bs.popover").tip();
  $pop.css({"left":"15px","width":"320px"});
  $pop.addClass("cc-popover");
  $pop.removeAttr("role");
  $pop.find(".arrow").addClass("cc-popover-arrow-l");

});
$('#add-item').on("shown.bs.popover",function(){
  var $pop=$(this).data("bs.popover").tip();
  $pop.css({"left":"15px"});
  $pop.attr("aria-expanded",true);
  var $id = $pop.attr("id");
  $(this).removeAttr("aria-describedby");
  $(this).attr("aria-controls",$id);
  $(this).attr("aria-expanded",true);
});
$('#add-item').on("hidden.bs.popover",function(){
  var $pop=$(this).data("bs.popover").tip();
  $pop.attr("aria-expanded",false);
  $(this).attr("aria-expanded",false);
});
</script>

        <pre class="code" style="margin-top:100px;">
&lt;div class="cc-toolbar"&gt;
  &lt;div class="cc-page-action"&gt;
    &lt;a href="#" class="btn cc-btn" role="button" id="add-item" data-toggle="popover" aria-expanded="false"&gt;
      &lt;i class="ci ci-add" aria-hidden="true"&gt;&lt;/i&gt; Add Item&lt;/span&gt;
    &lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;script&gt;
$('#add-item').popover({
  animation:false,
  html: true,
  trigger: 'manual',
  content: function() {
    return $.ajax({url: "sample-add-item.html",
                   dataType: 'html',
                   async: false}).responseText;
  },
  placement:"bottom"
}).click(function(e) {
  $(this).popover('toggle');
});
$('#add-item').on("show.bs.popover",function(){
  var $pop=$(this).data("bs.popover").tip();
  $pop.css({"left":"15px","width":"320px"});
  $pop.addClass("cc-popover");
  $pop.removeAttr("role");
  $pop.find(".arrow").addClass("cc-popover-arrow-l");

});
$('#add-item').on("shown.bs.popover",function(){
  var $pop=$(this).data("bs.popover").tip();
  $pop.css({"left":"15px"});
  $pop.attr("aria-expanded",true);
  var $id = $pop.attr("id");
  $(this).removeAttr("aria-describedby");
  $(this).attr("aria-controls",$id);
  $(this).attr("aria-expanded",true);
});
$('#add-item').on("hidden.bs.popover",function(){
  var $pop=$(this).data("bs.popover").tip();
  $pop.attr("aria-expanded",false);
  $(this).attr("aria-expanded",false);
});
&lt;/script&gt;

</pre>
    </div>
</div>
