<div style="position:relative">
  <div class="popover bottom cc-popover" style="display:block;width:400px">
    <div class="arrow"></div>
    <div class="popover-content">
      <div class="input-group" style="width:100%">
        <input type="text" class="form-control" style="width:100%" aria-label="Extra Credit">
      </div>
    </div>
    <div class="cc-popover-footer">
      <div class="pull-left">
        <button type="button" class="cc-btn" id="btn-detail">Detail</button>
      </div>
      <button type="submit" class="cc-btn cc-primary" id="bt-save">Save</button>
      <button type="button" class="cc-btn" id="btn-cancel" data-cc-dismiss="popover">Cancel</button>
    </div>
  </div>
</div>
<pre class="code" style="margin-top:250px">
  &lt;div class="popover bottom cc-popover" style="display:block;width:400px"&gt;
    &lt;div class="arrow"&gt;&lt;/div&gt;
    &lt;div class="popover-content"&gt;
      &lt;div class="input-group" style="width:100%"&gt;
        &lt;input type="text" class="form-control" style="width:100%" aria-label="Extra Credit"&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="cc-popover-footer"&gt;
      &lt;div class="pull-left"&gt;
        &lt;button type="button" class="cc-btn" id="btn-detail"&gt;Detail&lt;/button&gt;
      &lt;/div&gt;
      &lt;button type="submit" class="cc-btn cc-primary" id="bt-save"&gt;Save&lt;/button&gt;
      &lt;button type="button" class="cc-btn" id="btn-cancel" data-cc-dismiss="popover"&gt;Cancel&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</pre>
