<div style="position:relative">
  <div class="popover top cc-popover" style="display:block;width:400px">
    <div class="arrow cc-popover-arrow-r"></div>
    <div class="popover-content">
      <div class="cc-flex">
        <input type="text" class="form-control" aria-label="Extra Credit">
        <button class="cc-btn cc-primary cc-spacer" type="button">Save</button>
      </div>
    </div>
  </div>
</div>
<xmp class="code" style="margin-top:150px">
  <div class="popover top cc-popover" style="display:block;width:400px">
    <div class="arrow cc-popover-arrow-r"></div>
    <div class="popover-content">
      <div class="cc-flex">
        <input type="text" class="form-control" aria-label="Extra Credit">
        <button class="cc-btn cc-primary cc-spacer" type="button">Save</button>
      </div>
    </div>
  </div>
</xmp>
