<div class="cc-toolbar">
  <div class="cc-toolbar-btns">
    <div class="dropdown">
      <a href="javascript:void(0)" class="cc-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="ci ci-add" aria-hidden="true"></i> Add Item</span>
      </a>
      <div class="dropdown-menu popover bottom cc-popover" style="width:300px">
        <div class="arrow cc-popover-arrow-l"></div>
        <div class="popover-content">
          <div class="input-group cc-popover-input">
            <input type="text" class="form-control" aria-label="Item" placeholder="Please enter item name.">
            <span class="input-group-btn">
              <button class="cc-btn cc-primary" type="button">Save</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cc-toolbar-side">
    <div class="dropdown">
      <a href="javascript:void(0)" class="btn cc-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Settings
      </a>
      <div class="dropdown-menu dropdown-menu-right popover bottom cc-popover" style="width: 250px">
        <div class="arrow cc-popover-arrow-r"></div>
          <div class="popover-content">
            <div id="popover-title">Grade Summary Settings</div>
            <div class="checkbox">
              <label>
                <input checked="checked" name="summaryDisplays" value="TOTAL" id="total-points" type="checkbox">Total Points
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input checked="checked" name="summaryDisplays" value="PCT" id="total-pct" type="checkbox">Total %
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input checked="checked" name="summaryDisplays" value="total-weighted" id="TOTAL_WEIGHT" type="checkbox">Total Weighted %
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input checked="checked" name="summaryDisplays" value="final-score" id="FINAL_SCORE" type="checkbox">Final Score
              </label>
            </div>
          </div>
          <div class="cc-popover-footer">
            <button type="button" class="btn cc-btn cc-btn-primary" id="save-setting">Save</button>
            <button type="button" class="btn cc-btn" id="cancel-setting" data-cc-dismiss="popover">Cancel</button>
          </div>
      </div>
    </div>
  </div>
</div>
<pre class="code" style="margin-top:200px">
  &lt;div class="cc-toolbar"&gt;
    &lt;div class="cc-toolbar-btns"&gt;
      &lt;div class="dropdown"&gt;
        &lt;a href="javascript:void(0)" class="cc-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
          &lt;i class="ci ci-add" aria-hidden="true"&gt;&lt;/i&gt; Add Item&lt;/span&gt;
        &lt;/a&gt;
        &lt;div class="dropdown-menu popover bottom cc-popover" style="width:300px"&gt;
          &lt;div class="arrow cc-popover-arrow-l"&gt;&lt;/div&gt;
          &lt;div class="popover-content"&gt;
            &lt;div class="input-group cc-popover-input"&gt;
              &lt;input type="text" class="form-control" aria-label="Item" placeholder="Please enter item name."&gt;
              &lt;span class="input-group-btn"&gt;
                &lt;button class="cc-btn cc-primary" type="button"&gt;Save&lt;/button&gt;
              &lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="cc-toolbar-side"&gt;
      &lt;div class="dropdown"&gt;
        &lt;a href="javascript:void(0)" class="btn cc-btn" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
          Settings
        &lt;/a&gt;
        &lt;div class="dropdown-menu dropdown-menu-right popover bottom cc-popover" style="width: 250px"&gt;
          &lt;div class="arrow cc-popover-arrow-r"&gt;&lt;/div&gt;
            &lt;div class="popover-content"&gt;
              &lt;div id="popover-title"&gt;Grade Summary Settings&lt;/div&gt;
              &lt;div class="checkbox"&gt;
                &lt;label&gt;
                  &lt;input checked="checked" name="summaryDisplays" value="TOTAL" id="total-points" type="checkbox"&gt;Total Points
                &lt;/label&gt;
              &lt;/div&gt;
              &lt;div class="checkbox"&gt;
                &lt;label&gt;
                  &lt;input checked="checked" name="summaryDisplays" value="PCT" id="total-pct" type="checkbox"&gt;Total %
                &lt;/label&gt;
              &lt;/div&gt;
              &lt;div class="checkbox"&gt;
                &lt;label&gt;
                  &lt;input checked="checked" name="summaryDisplays" value="total-weighted" id="TOTAL_WEIGHT" type="checkbox"&gt;Total Weighted %
                &lt;/label&gt;
              &lt;/div&gt;
              &lt;div class="checkbox"&gt;
                &lt;label&gt;
                  &lt;input checked="checked" name="summaryDisplays" value="final-score" id="FINAL_SCORE" type="checkbox"&gt;Final Score
                &lt;/label&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="cc-popover-footer"&gt;
              &lt;button type="button" class="btn cc-btn cc-btn-primary" id="save-setting"&gt;Save&lt;/button&gt;
              &lt;button type="button" class="btn cc-btn" id="cancel-setting" data-cc-dismiss="popover"&gt;Cancel&lt;/button&gt;
            &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</pre>
