<div style="position:relative">
  <div class="popover bottom cc-popover" style="display:block;width:250px">
    <div class="arrow"></div>
    <form name="setting">
      <div class="popover-content">
        <div id="popover-title">Grade Summary Settings</div>
        <div class="checkbox">
          <label>
            <input checked="checked" name="summaryDisplays" value="TOTAL" id="total-points" type="checkbox">Total Points
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input checked="checked" name="summaryDisplays" value="PCT" id="total-pct" type="checkbox">Total %
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input checked="checked" name="summaryDisplays" value="total-weighted" id="TOTAL_WEIGHT" type="checkbox">Total Weighted %
          </label>
        </div>
        <div class="checkbox">
          <label>
            <input checked="checked" name="summaryDisplays" value="final-score" id="FINAL_SCORE" type="checkbox">Final Score
          </label>
        </div>
      </div>
      <div class="cc-popover-footer">
        <button type="submit" class="cc-btn cc-primary" id="save-setting">Save</button>
        <button type="button" class="cc-btn" id="cancel-setting">Cancel</button>
      </div>
    </form>
  </div>
</div>
<pre class="code" style="margin-top:250px">
  &lt;div class="popover bottom cc-popover" style="display:block;width:250px"&gt;
    &lt;div class="arrow"&gt;&lt;/div&gt;
    &lt;form name="setting"&gt;
      &lt;div class="popover-content"&gt;
        &lt;div id="popover-title"&gt;Grade Summary Settings&lt;/div&gt;
        &lt;div class="checkbox"&gt;
          &lt;label&gt;
            &lt;input checked="checked" name="summaryDisplays" value="TOTAL" id="total-points" type="checkbox"&gt;Total Points
          &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="checkbox"&gt;
          &lt;label&gt;
            &lt;input checked="checked" name="summaryDisplays" value="PCT" id="total-pct" type="checkbox"&gt;Total %
          &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="checkbox"&gt;
          &lt;label&gt;
            &lt;input checked="checked" name="summaryDisplays" value="total-weighted" id="TOTAL_WEIGHT" type="checkbox"&gt;Total Weighted %
          &lt;/label&gt;
        &lt;/div&gt;
        &lt;div class="checkbox"&gt;
          &lt;label&gt;
            &lt;input checked="checked" name="summaryDisplays" value="final-score" id="FINAL_SCORE" type="checkbox"&gt;Final Score
          &lt;/label&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="cc-popover-footer"&gt;
        &lt;button type="submit" class="cc-btn cc-primary" id="save-setting"&gt;Save&lt;/button&gt;
        &lt;button type="button" class="cc-btn" id="cancel-setting"&gt;Cancel&lt;/button&gt;
      &lt;/div&gt;
    &lt;/form&gt;
  &lt;/div&gt;
</pre>
