<button class="cc-btn cc-primary">Primary</button>
<button class="cc-btn">Default</button>
<button class="cc-btn" disabled>Disabled</button>
<pre class="code">
&lt;button class="cc-btn cc-primary"&gt;Primary&lt;/button&gt;
&lt;button class="cc-btn"&gt;Default&lt;/button&gt;
&lt;button class="cc-btn" disabled&gt;Disabled&lt;/button&gt;
</pre>

<div class="cc-text-alert">Do not use input tag as button</div>
<pre class="cc-text-alert">
&lt;input type="button" class="cc-btn cc-primary" value="Primary"&gt;
</pre>
<div class="cc-text2">input tag does not take :before :after selector.</div>
</div>