<div class="cc-flex">
  <div class="cc-flex-main">
    <h1 class="cc-h">My Profile</h1>
  </div>
  <div class="cc-flex-side">
    <button class="cc-btn ci ci-print cc-tip cc-tip-right" type="button" aria-label="Settings">
    </button>
  </div>
</div>
<br><br><br>
<div class="cc-toolbar cc-flex">
  <div class="cc-flex-main">
    <button class="cc-btn ci ci-add cc-tip" type="button" aria-label="Add">
    </button>
    <button class="cc-btn ci ci-search cc-tip" type="button" aria-label="Search">
    </button>
    <button class="cc-btn ci ci-more cc-tip" type="button" aria-label="More">
    </button>
  </div>
  <div class="cc-flex-side">
    <button class="cc-btn ci ci-setting cc-tip cc-tip-right" type="button" aria-label="Settings">
    </button>
  </div>
</div>

<xmp class="code">

<div class="cc-flex">
  <div class="cc-flex-main">
    <h1 class="cc-h">My Profile</h1>
  </div>
  <div class="cc-flex-side">
    <button class="cc-btn ci ci-print cc-tip cc-tip-right" type="button" aria-label="Settings">
    </button>
  </div>
</div>



<div class="cc-toolbar cc-flex">
  <div class="cc-flex-main">
    <button class="cc-btn ci ci-add cc-tip" type="button" aria-label="Add">
    </button>
    <button class="cc-btn ci ci-search cc-tip" type="button" aria-label="Search">
    </button>
    <button class="cc-btn ci ci-more cc-tip" type="button" aria-label="More">
    </button>
  </div>
  <div class="cc-flex-side">
    <button class="cc-btn ci ci-setting cc-tip cc-tip-right" type="button" aria-label="Settings">
    </button>
  </div>
</div>

</xmp>
