<div class="cc-hlit cc-padding cc-panel">
  <button class="cc-btn cc-primary cc-ripple">Save</button>
</div>
<pre class="code">
  &lt;button class="cc-btn cc-primary cc-ripple"&gt;
    Save
  &lt;/button&gt;
</pre>
<hr class="cc-hline" style="margin-left:-2rem;margin-right:-2rem">
<div class="cc-form-submit">
  <button class="cc-btn cc-primary">Submit</button>
  <button class="cc-btn">Cancel</button>
</div>
<pre class="code">
  &lt;div class="cc-form-submit"&gt;
    &lt;button class="cc-btn cc-primary"&gt;
      Submit
    &lt;/button&gt;
    &lt;button class="cc-btn"&gt;
      Cancel
    &lt;/button&gt;
  &lt;/div&gt;
</pre>
