<button type="button" class="cc-btn cc-btn-primary" data-toggle="modal" data-target="#demoModal">
  Launch demo modal
</button>
<div class="modal cc-modal" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Current Modal Title</h4>
      <a href="javascript:void(0)" class="modal-close" data-dismiss="modal"><i class="ci ci-close"></i></a>
    </div>
    <div class="modal-content">
      <div class="modal-body">
        Content List...
      </div>
    </div>
    <!-- modal-content -->
    <div class="modal-footer"> 
      <button class="cc-btn cc-btn-primary">Save</button>
      <button class="cc-btn" data-dismiss="modal">Cancel</button>
    </div>
  </div>
  <!-- modal-dialog -->
</div>
<pre class="code">
&lt;div class="modal cc-modal" id="demoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"&gt;
  &lt;div class="modal-dialog"&gt;
    &lt;div class="modal-header"&gt;
      &lt;h4 class="modal-title" id="myModalLabel"&gt;Current Modal Title&lt;/h4&gt;
      &lt;a href="javascript:void(0)" class="modal-close" data-dismiss="modal"&gt;&lt;i class="ci ci-close"&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="modal-content"&gt;
      &lt;div class="modal-body"&gt;
        Content List...
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;!-- modal-content --&gt;
    &lt;div class="modal-footer"&gt; 
      &lt;button class="cc-btn cc-btn-primary"&gt;Save&lt;/button&gt;
      &lt;button class="cc-btn" data-dismiss="modal"&gt;Cancel&lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;!-- modal-dialog --&gt;
&lt;/div&gt;

</pre>