<div class="checkbox">
  <label class="cc-input-beauty cc-checkbox-beauty cc-checkbox-info">
    <input type="checkbox"><span></span>
    Checkbox Default
  </label>
</div>
<div class="checkbox">
  <label class="cc-input-beauty cc-checkbox-beauty cc-checkbox-info">
    <input type="checkbox" checked><span></span>
    Checkbox Checked
  </label>
</div>
<div class="checkbox">
  <label class="cc-input-beauty cc-checkbox-beauty cc-checkbox-info">
    <input type="checkbox" disabled><span></span>
    Checkbox Disabled
  </label>
</div>
<div class="checkbox">
  <label class="cc-input-beauty cc-checkbox-beauty cc-checkbox-info">
    <input type="checkbox" checked disabled><span></span>
    Checked Disabled
  </label>
</div>
<xmp class="code">
<div class="checkbox">
  <label class="cc-input-beauty cc-checkbox-beauty cc-checkbox-info">
    <input type="checkbox"><span></span>
    Checkbox Default
  </label>
</div>
<div class="checkbox">
  <label class="cc-input-beauty cc-checkbox-beauty cc-checkbox-info">
    <input type="checkbox" checked><span></span>
    Checkbox Checked
  </label>
</div>
<div class="checkbox">
  <label class="cc-input-beauty cc-checkbox-beauty cc-checkbox-info">
    <input type="checkbox" disabled><span></span>
    Checkbox Disabled
  </label>
</div>
<div class="checkbox">
  <label class="cc-input-beauty cc-checkbox-beauty cc-checkbox-info">
    <input type="checkbox" checked disabled><span></span>
    Checked Disabled
  </label>
</div>
</xmp>