<form class="cc-inline-flex" role="search">
  <select class="form-control"  name="select">
    <option>All...</option>
    <option value="1">Option #1</option>
    <option value="2">Option #2</option>
  </select>
  <input type="text" class="form-control cc-search-input" placeholder="Search...">
  <button type="submit" class="cc-btn ci ci-search" title="Search">
    <div class="sr-only">Search</div>
  </button>
</form>

<xmp class="code">
  <form class="cc-inline-flex" role="search">
    <select class="form-control"  name="select">
      <option>All...</option>
      <option value="1">Option #1</option>
      <option value="2">Option #2</option>
    </select>
    <input type="text" class="form-control cc-search-input" placeholder="Search...">
    <button type="submit" class="cc-btn ci ci-search" title="Search">
      <div class="sr-only">Search</div>
    </button>
  </form>
</xmp>

<hr class="cc-hline" style="margin-left:-2rem;margin-right:-2rem;margin-bottom:2rem">

<form class="cc-inline-flex" role="search">
  <span class="cc-label">/home/academics/math/</span>
  <input type="text" class="form-control cc-search-input"  placeholder="Enter category Name">
  <button type="submit" class="cc-btn">
    Add Category
  </button>
</form>

<xmp class="code">
  <form class="cc-inline-flex" role="search">
    <span class="cc-label">/home/academics/math/</span>
    <input type="text" class="form-control cc-search-input"  placeholder="Enter category Name">
    <button type="submit" class="cc-btn">
      Add Category
    </button>
  </form>
</xmp>