<div class="cc-editable">
  <div class="cc-flex cc-flex-middle">
    <div class="cc-flex-main">
      <input style="width:100%" placeholder="Enter Category Name" maxlength="64" type="text">
    </div>
    <div class="cc-flex-side cc-editable-action">
      <button title="Save" class="cc-btn2 ci ci-check-circle cc-icon-info" type="button">
        <div class="sr-only">Save</div>
      </button>
      <button title="Cancel" class="cc-btn2 ci ci-cancel" type="button">
        <div class="sr-only">Cancel</div>
      </button>
    </div>
  </div>
</div>

<xmp class="code">
<div class="cc-editable">
  <div class="cc-flex cc-flex-middle">
    <div class="cc-flex-main">
      <input style="width:100%" placeholder="Enter Category Name" maxlength="64" type="text">
    </div>
    <div class="cc-flex-side cc-editable-action">
      <button title="Save" class="cc-btn2 ci ci-ok cc-icon-info" type="button">
        <div class="sr-only">Save</div>
      </button>
      <button title="Cancel" class="cc-btn2 ci ci-cancel" type="button">
        <div class="sr-only">Cancel</div>
      </button>
    </div>
  </div>
</div>
</xmp>