<header class="cc-header-navbar"><span class="current-title">Autocomplete Component</span></header>
<div id="main-container">
  <div class="load-content">
    <div class="col-sm-8 mb-30 col-sm-offset-2">
      <div class="cc-panel">
        <div class="cc-panel-header">
          <h3 class="cc-panel-title">Autocomplete</h3>
        </div>
        <div class="cc-panel-body">
          <ng-include src="'tpls/components/autocomplete/base.html'"></ng-include>
        </div>
      </div>
    </div>
    <!--end-->
  </div>
</div>