<div class="cc-autocomplete">
  <input type="text" class="cc-autocomplete-input form-control" autocomplete>
  <ul class="cc-autocomplete-data">
    <li><a href="">autocomplete data item...</a></li>
    <li><a href="">autocomplete data item...</a></li>
    <li><a href="">autocomplete data item...</a></li>
    <li><a href="">autocomplete data item...</a></li>
  </ul>
</div>
<pre class="code">
  &lt;div class="cc-autocomplete"&gt;
  &lt;input type="text"
  class="cc-autocomplete-input form-control" autocomplete&gt;
  &lt;ul class="cc-autocomplete-data"&gt;
    &lt;li&gt;&lt;a href=""&gt;autocomplete data item...&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=""&gt;autocomplete data item...&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=""&gt;autocomplete data item...&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=""&gt;autocomplete data item...&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;

</pre>