@font-face {
  font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome & firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome firefox opera Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.ci:before {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.ci-academic-alert:before{content:"\e713"}
.ci-accessible:before{content:"\e7c7"}
.ci-activity:before{content:"\e813"}
.ci-add-all:before{content:"\e93f"}
.ci-add-event:before{content:"\e843"}
.ci-add-folder-line:before{content:"\e86b"}
.ci-add-folder:before{content:"\e919"}
.ci-add-task:before{content:"\e866"}
.ci-add:before{content:"\e7d4"}
.ci-add:before{content:"\e92d"}
.ci-address-o:before{content:"\e614"}
.ci-address-one-o:before{content:"\e619"}
.ci-addressbook:before{content:"\e7ce"}
.ci-admin:before{content:"\e784"}
.ci-align-center:before{content:"\e9e9"}
.ci-align-justify:before{content:"\e9e7"}
.ci-announcement-editor:before{content:"\e801"}
.ci-announcement:before{content:"\e9e4"}
.ci-anonymous:before{content:"\e785"}
.ci-app:before{content:"\e7da"}
.ci-approved:before{content:"\e81b"}
.ci-area-chart:before{content:"\e999" }
.ci-arrow-bottom-o:before{content:"\e7b6"}
.ci-arrow-bottom:before{content:"\e934"}
.ci-arrow-down:before{content:"\e682"}
.ci-arrow-left-o:before{content:"\e7b5"}
.ci-arrow-left:before{content:"\e681"}
.ci-arrow-right-o:before{content:"\e7b4"}
.ci-arrow-right:before{content:"\e680"}
.ci-arrow-top-o:before{content:"\e7b7"}
.ci-arrow-top:before{content:"\e935"}
.ci-arrow-up:before{content:"\e683"}
.ci-assessment-editor:before{content:"\e72f"}
.ci-assessment:before{content:"\e715"}
.ci-assignment-editor:before{content:"\e730"}
.ci-assignment:before{content:"\e65c"}
.ci-assistant:before{content:"\e925"}
.ci-attachment-one-o:before{content:"\e60c"}
.ci-attachment-three-o:before{content:"\e60e"}
.ci-attachment-two-o:before{content:"\e60d"}
.ci-attendance:before{content:"\e714"}
.ci-attendance:before{content:"\e9d9"}
.ci-auditor:before{content:"\e7f5"}
.ci-back:before{content:"\e7e7"}
.ci-bag:before{content:"\e613"}
.ci-bar-chart:before{content:"\e998"}
.ci-belle-o:before{content:"\e61c"}
.ci-blackboard:before{content:"\e608"}
.ci-blog-manager:before{content:"\e724"}
.ci-blog-o:before{content:"\e61f"}
.ci-blog:before{content:"\e61f"}
.ci-bold:before{content:"\e9d7"}
.ci-book-o:before{content:"\e615"}
.ci-book-two-o:before{content:"\e617"}
.ci-bookmark-manager:before{content:"\e9c5"}
.ci-bookmark:before{content:"\e6d1"}
.ci-calculate:before{content:"\e863"}
.ci-calendar-manager:before{content:"\e86a"}
.ci-calendar:before{content:"\e867"}
.ci-camera-one:before{content:"\e62d"}
.ci-camera-three:before{content:"\e630"}
.ci-camera-two:before{content:"\e62e"}
.ci-campus-file-manager:before{content:"\e9c4"}
.ci-campus-manager:before{content:"\e9a4"}
.ci-campus-o:before{content:"\e612"}
.ci-campus-webpages:before{content:"\e9c1"}
.ci-campus:before{content:"\e95c"}
.ci-cancel:before{content:"\e868"}
.ci-card-horizontal:before{content:"\e99d"}
.ci-cardcase:before{content:"\e778"}
.ci-cart-o:before{content:"\e62a"}
.ci-category:before{content:"\e929"}
.ci-cc-update:before{content:"\e9a6"}
.ci-channel:before{content:"\e922"}
.ci-chat:before{content:"\e638"}
.ci-chatRoom-manager:before{content:"\e71c"}
.ci-check:before{content:"\e787"}
.ci-circle-hollow:before{content:"\e7c3"}
.ci-circle-solid:before{content:"\e7c4"}
.ci-class-admin-tools:before{content:"\e73d"}
.ci-class-alert:before{content:"\e720"}
.ci-class-data:before{content:"\e751"}
.ci-class-import-manager:before{content:"\e83f"}
.ci-class-one:before{content:"\e723"}
.ci-class-setting:before{content:"\e721"}
.ci-class-type:before{content:"\e961"}
.ci-classes:before{content:"\e73e"}
.ci-clock-one:before{content:"\e66b"}
.ci-clock-two:before{content:"\e66c"}
.ci-clock:before{content:"\e66a"}
.ci-close-folder:before{content:"\e864"}
.ci-close-line:before{content:"\e795"}
.ci-close-line:before{content:"\e797"}
.ci-close-o:before{content:"\e78f"}
.ci-close:before{content:"\e63f"}
.ci-close:before{content:"\e761"}
.ci-close:before{content:"\e796"}
.ci-cloud-line:before{content:"\e6a1"}
.ci-cloud:before{content:"\e6a3"}
.ci-club-manager:before{content:"\e9b0"}
.ci-club:before{content:"\e960"}
.ci-code:before{content:"\e779"}
.ci-coffee-o:before{content:"\e629"}
.ci-color:before{content:"\e81c"}
.ci-committee-manager:before{content:"\e9b2"}
.ci-committee:before{content:"\e962"}
.ci-communication-o:before{content:"\e93a"}
.ci-communication:before{content:"\e9e1"}
.ci-community-admin:before{content:"\e6af"}
.ci-community-manager:before{content:"\e9b7"}
.ci-compose-email:before{content:"\e725"}
.ci-compose-task:before{content:"\e71c"}
.ci-computer-one:before{content:"\e632"}
.ci-computer-three:before{content:"\e634"}
.ci-computer-two:before{content:"\e633"}
.ci-contact-list:before{content:"\e81d"}
.ci-contacts-manager:before{content:"\e71d"}
.ci-content:before{content:"\e926"}
.ci-content:before{content:"\e9d6"}
.ci-content-admin:before{content:"\e74d"}
.ci-contract-o:before{content:"\e603"}
.ci-control-panel:before{content:"\e737"}
.ci-copy:before{content:"\e804"}
.ci-coure-list:before{content:"\e74f"}
.ci-course-design-tools:before{content:"\e74e"}
.ci-course-designer-line:before{content:"\e731"}
.ci-course-designer:before{content:"\e722"}
.ci-course-templates:before{content:"\e749"}
.ci-courser:before{content:"\e78b"}
.ci-cruiser-alert-manager:before{content:"\e741"}
.ci-cruiser-alert:before{content:"\e741"}
.ci-cruiser-assist:before{content:"\e7f4"}
.ci-cruiser-central-line:before{content:"\e734"}
.ci-cruiser-central:before{content:"\e84e"}
.ci-cruiser-eval-manager:before{content:"\e752"}
.ci-cruiser-eval-result:before{content:"\e711"}
.ci-cruisercafe-manager:before{content:"\e9ae"}
.ci-cruisercentral-manager:before{content:"\e9b4"}
.ci-cruisereval:before{content:"\e9aa"}
.ci-current-event:before{content:"\e71b"}
.ci-current-events-one:before{content:"\e726"}
.ci-custom-group:before{content:"\e72b"}
.ci-custom:before{content:"\e72a"}
.ci-customize-welcome:before{content:"\e9be"}
.ci-dashboard-manager:before{content:"\e9a2"}
.ci-datafeed-manager:before{content:"\e9bb"}
.ci-date-picker:before{content:"\e862"}
.ci-delete:before{content:"\e92c"}
.ci-deleted:before{content:"\e92b"}
.ci-department:before{content:"\e7c9"}
.ci-dept-manager:before{content:"\e9bc"}
.ci-descend:before{content:"\e77b"}
.ci-design-manager:before{content:"\e99f"}
.ci-detach:before{content:"\e820"}
.ci-discussion:before{content:"\e7d7"}
.ci-dislike:before{content:"\e7c0"}
.ci-document:before{content:"\e7cf"}
.ci-douban:before{content:"\e63c"}
.ci-download-line:before{content:"\e853"}
.ci-download:before{content:"\e850"}
.ci-draft:before{content:"\e806"}
.ci-drag-line:before{content:"\e792"}
.ci-drag:before{content:"\e793"}
.ci-e-checkin:before{content:"\e9b6"}
.ci-earphone-o:before{content:"\e628"}
.ci-edit-one-o:before{content:"\e61d"}
.ci-edit-setting:before{content:"\e753"}
.ci-edit-two-o:before{content:"\e61e"}
.ci-edit:before{content:"\e760"}
.ci-editor:before{content:"\e765"}
.ci-email-manager:before{content:"\e9c9"}
.ci-email-members:before{content:"\e73a"}
.ci-email-one-o:before{content:"\e800"}
.ci-email:before{content:"\e9da"}
.ci-employee:before{content:"\e7f6"}
.ci-excel:before{content:"\e647"}
.ci-excel:before{content:"\e771"}
.ci-excexl:before{content:"\e772"}
.ci-exit-data:before{content:"\e85c"}
.ci-expired:before{content:"\e821"}
.ci-export:before{content:"\e85a"}
.ci-ext-comm-manager:before{content:"\e9c0"}
.ci-extra:before{content:"\e914"}
.ci-faculty-coursework:before{content:"\e861"}
.ci-faculty:before{content:"\e79f"}
.ci-favour-one:before{content:"\e673"}
.ci-favour:before{content:"\e672"}
.ci-figure:before{content:"\e645"}
.ci-file:before{content:"\e876"}
.ci-files:before{content:"\e739"}
.ci-filter-one:before{content:"\e6c5"}
.ci-filter:before{content:"\e6c4"}
.ci-flag-01:before{content:"\e7a4"}
.ci-flag-02:before{content:"\e7a5"}
.ci-flag-03:before{content:"\e7a6"}
.ci-flag-04:before{content:"\e7a7"}
.ci-flag-race:before{content:"\e816"}
.ci-flag:before{content:"\e815"}
.ci-folder-shared:before{content:"\e91a"}
.ci-folder:before{content:"\e918"}
.ci-font:before{content:"\e9d2"}
.ci-full-menu:before{content:"\e700"}
.ci-generic-community:before{content:"\e943"}
.ci-generic-pushed:before{content:"\e970"}
.ci-generic:before{content:"\e95f"}
.ci-glasses-o:before{content:"\e62c"}
.ci-globe:before{content:"\e655"}
.ci-goto:before{content:"\e7e6"}
.ci-gradebook-bold:before{content:"\e9cb"}
.ci-gradebook-manager:before{content:"\e732"}
.ci-gradebook:before{content:"\e718"}
.ci-gradebook:before{content:"\e9d8"}
.ci-graded:before{content:"\e830"}
.ci-grades-performance:before{content:"\e9db"}
.ci-headlines-manager:before{content:"\e9a7"}
.ci-heart-line:before{content:"\e6ca"}
.ci-heart-one:before{content:"\e6cc"}
.ci-heart-two:before{content:"\e6cd"}
.ci-heart:before{content:"\e6cb"}
.ci-help-one:before{content:"\e6bd"}
.ci-help:before{content:"\e9d5"}
.ci-hide:before{content:"\e7e8"}
.ci-home-line:before{content:"\e78f"}
.ci-home-one-o:before{content:"\e610"}
.ci-home-two-o:before{content:"\e611"}
.ci-home:before{content:"\e9cf"}
.ci-host:before{content:"\e78d"}
.ci-ical:before{content:"\e873"}
.ci-ie:before{content:"\e63e"}
.ci-image:before{content:"\e750"}
.ci-import:before{content:"\e85b"}
.ci-inactive:before{content:"\e823"}
.ci-inbox:before{content:"\e6c3"}
.ci-indent-left:before{content:"\e852"}
.ci-indent-right:before{content:"\e851"}
.ci-info-one:before{content:"\e6be"}
.ci-info:before{content:"\e6bf"}
.ci-instant-class:before{content:"\e71f"}
.ci-italic:before{content:"\e9ea"}
.ci-journal-manager:before{content:"\e73c"}
.ci-journal:before{content:"\e83e"}
.ci-layout:before{content:"\e80d"}
.ci-learning-content-bold:before{content:"\e9e5"}
.ci-learning-content:before{content:"\e9e0"}
.ci-like:before{content:"\e672"}
.ci-line-chart:before{ content:"\e996"; }
.ci-link-o:before{content:"\e60f"}
.ci-list-columns:before{content:"\e9bd"}
.ci-list-ol:before{content:"\e9e2"}
.ci-list-ul:before{content:"\e9ce"}
.ci-list:before{content:"\e9e8"}
.ci-lock:before{content:"\e7d5"}
.ci-login:before{content:"\e75b"}
.ci-logout:before{content:"\e754"}
.ci-mail-delivered:before{content:"\e84a"}
.ci-mail-delivering:before{content:"\e849"}
.ci-mail-draft:before{content:"\e780"}
.ci-mail-fwd:before{content:"\e781"}
.ci-mail-read:before{content:"\e782"}
.ci-mail-reply:before{content:"\e783"}
.ci-mail-send:before{content:"\e63d"}
.ci-mail-unable:before{content:"\e84b"}
.ci-map-one:before{content:"\e64d"}
.ci-map-position:before{content:"\e650"}
.ci-map-three:before{content:"\e64f"}
.ci-map-two:before{content:"\e64e"}
.ci-map:before{content:"\e64c"}
.ci-medal-o:before{content:"\e61a"}
.ci-media:before{content:"\e635"}
.ci-member-add:before{content:"\e6b0"}
.ci-member:before{content:"\e91b"}
.ci-members-manager:before{content:"\e73b"}
.ci-members:before{content:"\e91f"}
.ci-message-board-o:before{content:"\e65f"}
.ci-message-board:before{content:"\e9df"}
.ci-message-topic:before{content:"\e83c"}
.ci-mobile-o:before{content:"\e62f"}
.ci-mobile-two:before{content:"\e631"}
.ci-moderate:before{content:"\e854"}
.ci-moderated:before{content:"\e855"}
.ci-monitor-setup:before{content:"\e72d"}
.ci-more:before{content:"\e83a"}
.ci-move-down:before{content:"\e75a"}
.ci-move-left:before{content:"\e756"}
.ci-move-right:before{content:"\e755"}
.ci-move-up:before{content:"\e759"}
.ci-move:before{content:"\e77c"}
.ci-music-one:before{content:"\e625"}
.ci-music-two:before{content:"\e626"}
.ci-my-class:before{content:"\e6b4"}
.ci-my-classes:before{content:"\e757"}
.ci-my-communities:before{content:"\e6af"}
.ci-my-evaluation:before{content:"\e738"}
.ci-mycourse-content:before{content:"\e616"}
.ci-myfiles:before{content:"\e9cc"}
.ci-navigation-manager:before{content:"\e9b3"}
.ci-new-data:before{content:"\e85d"}
.ci-new:before{content:"\e824"}
.ci-news-manager:before{content:"\e9c2"}
.ci-news:before{content:"\e726"}
.ci-no-permission:before{content:"\e96f"}
.ci-no-start:before{content:"\e941"}
.ci-non-shared:before{content:"\e827"}
.ci-non-sticky:before{content:"\e82d"}
.ci-notification:before{content:"\e816"}
.ci-number:before{content:"\e642"}
.ci-office-manager:before{content:"\e9ac"}
.ci-office:before{content:"\e963"}
.ci-ok:before{content:"\e640"}
.ci-ok:before{content:"\e787"}
.ci-open-folder:before{content:"\e870"}
.ci-open:before{content:"\e7d9"}
.ci-org-manager:before{content:"\e9b8"}
.ci-org-o:before{content:"\e708"}
.ci-org:before{content:"\e707"}
.ci-pag-last:before{content:"\e7d3"}
.ci-pag-next:before{content:"\e7d1"}
.ci-pag-pre:before{content:"\e7d0"}
.ci-pag-top:before{content:"\e7d2"}
.ci-pagination-last:before{content:"\e7b9"}
.ci-pagination-next:before{content:"\e7bb"}
.ci-pagination-pre:before{content:"\e7ba"}
.ci-pagination-top:before{content:"\e7b8"}
.ci-participant:before{content:"\e817"}
.ci-password-manager:before{content:"\e9a3"}
.ci-pdf:before{content:"\e79b"}
.ci-pen-o:before{content:"\e620"}
.ci-pending:before{content:"\e819"}
.ci-percent:before{content:"\e643"}
.ci-photo-album-manager:before{content:"\e9c6"}
.ci-photo:before{content:"\e750"}
.ci-picture-o:before{content:"\e624"}
.ci-pie-chart:before{content:"\e997"}
.ci-pie-line:before{content:"\e6c8"}
.ci-pie:before{content:"\e6c9"}
.ci-plane-two:before{content:"\e654"}
.ci-plane:before{content:"\e652"}
.ci-play:before{content:"\e7f1"}
.ci-powerpoint:before{content:"\e773"}
.ci-powerpointx:before{content:"\e774"}
.ci-preview:before{content:"\e7cd"}
.ci-print-one:before{content:"\e6c2"}
.ci-print:before{content:"\e6c1"}
.ci-priority-high:before{content:"\e82e"}
.ci-private:before{content:"\e91d"}
.ci-processing:before{content:"\e81a"}
.ci-profile:before{content:"\e7e0"}
.ci-prohibited:before{content:"\e828"}
.ci-public:before{content:"\e7ca"}
.ci-publish-news:before{content:"\e9c7"}
.ci-publish:before{content:"\e818"}
.ci-push-to-campus:before{content:'\e95a'}
.ci-puzzle-line:before{content:"\e799"}
.ci-puzzle:before{content:"\e923"}
.ci-qq:before{content:"\e639"}
.ci-quick-link:before{content:"\e74c"}
.ci-quickbar-manager:before{content:"\e9af"}
.ci-quit:before{content:"\e66d"}
.ci-refresh:before{content:"\e670"}
.ci-repeat:before{content:"\e66f"}
.ci-reply-all:before{content:"\e69a"}
.ci-reply:before{content:"\e696"}
.ci-request:before{content:"\e791"}
.ci-require-data:before{content:"\e85e"}
.ci-ringing:before{content:"\e734"}
.ci-role-manager:before{content:"\e71e"}
.ci-role-manager:before{content:"\e739"}
.ci-role-manager:before{content:"\e9ab"}
.ci-rss-feed:before{content:"\e7ed"}
.ci-rss-manager:before{content:"\e9c3"}
.ci-rss-published:before{content:"\e82b"}
.ci-rss:before{content:"\e7f0"}
.ci-rsvp:before{content:"\e7ec"}
.ci-rubic:before{content:"\e710"}
.ci-save:before{content:"\e7e5"}
.ci-scan-o:before{content:"\e602"}
.ci-scanner-o:before{content:"\e604"}
.ci-score:before{content:"\e710"}
.ci-search-minus:before{content:"\e6b8"}
.ci-search-plus:before{content:"\e6b7"}
.ci-search:before{content:"\e6b6"}
.ci-setting-line:before{content:"\e75c"}
.ci-setting-o:before{content:"\e600"}
.ci-setting-one-o:before{content:"\e805"}
.ci-setting:before{content:"\e75d"}
.ci-share:before{content:"\e697"}
.ci-shared-files-o:before{content:"\e622"}
.ci-shared-files:before{content:"\e622"}
.ci-shared-o:before{content:"\e623"}
.ci-shared:before{content:"\e826"}
.ci-shield-o:before{content:"\e61b"}
.ci-shopping-o:before{content:"\e62b"}
.ci-shortcut-manager:before{content:"\e9ad"}
.ci-shortcut:before{content:"\e697"}
.ci-show:before{content:"\e7ee"}
.ci-sign-in-activity:before{content:"\e9a8"}
.ci-signal-one:before{content:"\e651"}
.ci-signal:before{content:"\e650"}
.ci-sort-arrow:before{content:"\e858"}
.ci-sort-current:before{content:"\e859"}
.ci-sort-down:before{content:"\e7fa"}
.ci-sort-down:before{content:"\e808"}
.ci-sort-o:before{content:"\e601"}
.ci-sort-up:before{content:"\e7fb"}
.ci-sort-up:before{content:"\e807"}
.ci-sort:before{content:"\e77e"}
.ci-sort:before{content:"\e85f"}
.ci-spellcheck:before{content:"\e7f7"}
.ci-square-hollow:before{content:"\e7c5"}
.ci-square-solid:before{content:"\e7c6"}
.ci-star-one:before{content:"\e6cf"}
.ci-star:before{content:"\e6ce"}
.ci-statistic:before{content:"\e7ef"}
.ci-status-learning:before{content:"\e857"}
.ci-sticky:before{content:"\e82c"}
.ci-storage-admin:before{content:"\e71a"}
.ci-storage-history:before{content:"\e9a1"}
.ci-storage-purge:before{content:"\e99e"}
.ci-storage:before{content:"\e719"}
.ci-strikethrough:before{content:"\e9dd"}
.ci-student-coursework:before{content:"\e860"}
.ci-student-tools:before{content:"\e73f"}
.ci-student-tracking:before{content:"\e733"}
.ci-student:before{content:"\e6b1"}
.ci-study-notes:before{content:"\e814"}
.ci-subfolder:before{content:"\e86d"}
.ci-submission:before{content:"\e653"}
.ci-subscribed:before{content:"\e832"}
.ci-superscript:before{content:"\e9d0"}
.ci-survey-designer:before{content:"\e845"}
.ci-survey-manager:before{content:"\e844"}
.ci-survey-publisher:before{content:"\e846"}
.ci-survey:before{content:"\e7fe"}
.ci-suspend:before{content:"\e7f9"}
.ci-suspicious:before{content:"\e834"}
.ci-switch-off:before{content:"\e7c2"}
.ci-switch-on:before{content:"\e7c1"}
.ci-syllabus-bold:before{content:"\e9d1"}
.ci-syllabus-editor:before{content:"\e72c"}
.ci-syllabus-o:before{content:"\e621"}
.ci-syllabus:before{content:"\e9dc"}
.ci-system-headlines:before{content:"\e9ba"}
.ci-system-tools:before{content:"\e64b"}
.ci-table:before{content:"\e9e6"}
.ci-tag:before{content:"\e835"}
.ci-target:before{content:"\e66e"}
.ci-task-bold:before{content:"\e9d4"}
.ci-task:before{content:"\e86e"}
.ci-task:before{content:"\e9d3"}
.ci-team:before{content:"\e874"}
.ci-telephone-o:before{content:"\e627"}
.ci-template-locator:before{content:"\e74a"}
.ci-thumbnail:before{content:"\e809"}
.ci-time:before{content:"\e837"}
.ci-tool-access-manager:before{content:"\e65a"}
.ci-tools-default:before{content:"\e9c8"}
.ci-tracker-admin:before{content:"\e9bf"}
.ci-tracker:before{content:"\e743"}
.ci-trash-one:before{content:"\e649"}
.ci-trash-three:before{content:"\e64b"}
.ci-trash-two:before{content:"\e64a"}
.ci-trash:before{content:"\e649"}
.ci-triangle-bottom-o:before{content:"\e811"}
.ci-triangle-bottom:before{content:"\e7de"}
.ci-triangle-left-o:before{content:"\e810"}
.ci-triangle-left:before{content:"\e7dd"}
.ci-triangle-right-o:before{content:"\e80f"}
.ci-triangle-right:before{content:"\e7dc"}
.ci-triangle-top-o:before{content:"\e812"}
.ci-triangle-top:before{content:"\e7df"}
.ci-turnitin-setting:before{content:"\e676"}
.ci-txt:before{content:"\e7d8"}
.ci-type-active:before{content:"\e969"}
.ci-type-expired:before{content:"\e966"}
.ci-type-total:before{content:"\e96d"}
.ci-under-construction:before{content:"\e9ca"}
.ci-unit:before{content:"\e661"}
.ci-unknow:before{content:"\e838"}
.ci-upload-line:before{content:"\e6a4"}
.ci-upload:before{content:"\e84f"}
.ci-usage-report:before{content:"\e9a5"}
.ci-user-admin:before{content:"\e739"}
.ci-user-attr-manager:before{content:"\e9a0"}
.ci-user-dir-manager:before{content:"\e9b5"}
.ci-user-directory:before{content:"\e7f2"}
.ci-user-roles:before{content:"\e871"}
.ci-video:before{content:"\e80e"}
.ci-view-class:before{content:"\e62c"}
.ci-view-line:before{content:"\e99b"}
.ci-view:before{content:"\e7cc"}
.ci-view:before{content:"\e99a"}
.ci-violated:before{content:"\e839"}
.ci-virtual-member:before{content:"\e9b9"}
.ci-virus-exist:before{content:"\e76d"}
.ci-virus-no:before{content:"\e76e"}
.ci-virus-notstart:before{content:"\e770"}
.ci-virus-scan:before{content:"\e76c"}
.ci-virus-suspect:before{content:"\e76f"}
.ci-virus:before{content:"\e78e"}
.ci-voice-one:before{content:"\e675"}
.ci-voice:before{content:"\e674"}
.ci-warning:before{content:"\e83b"}
.ci-webpage:before{content:"\e7e4"}
.ci-webpages:before{content:"\e9de"}
.ci-wechat:before{content:"\e636"}
.ci-weibo-qq:before{content:"\e63b"}
.ci-weibo-sina:before{content:"\e63a"}
.ci-welcome-tabs-manager:before{content:"\e9b1"}
.ci-welcome-template:before{content:"\e9a9"}
.ci-wiki-manager:before{content:"\e745"}
.ci-wiki:before{content:"\e744"}
.ci-wizard:before{content:"\e7f3"}
.ci-word-line:before{content:"\e775"}
.ci-word:before{content:"\e646"}
.ci-wordx-line:before{content:"\e776"}
.ci-youtube:before{content:"\e9e3"}
.ci-zip-line:before{content:"\e777"}
.ci-zip:before{content:"\e769"}