<h2 class="cc-h">Icon Card</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="cc-card">
      <div class="cc-card-icon cc-card-bg">
        <i class="ci ci-download-line"></i>
      </div>
      <div class="cc-card-body">
        <a href="#" class="cc-title cc-center">Hello World Card title</a>
      </div>
    </div>
  </div>
</div>

<pre class="code">
  &lt;div class="cc-card"&gt;
    &lt;div class="cc-card-icon cc-card-bg"&gt;
      &lt;i class="ci ci-download-line"&gt;&lt;/i&gt;
    &lt;/div&gt;
    &lt;div class="cc-card-body"&gt;
      &lt;a href="#" class="cc-title cc-center"&gt;Hello World Card title&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</pre>

<h2 class="cc-h">Image Card</h2>
<div class="row">
  <div class="col-sm-6">
    <div class="cc-card">
      <div class="cc-card-icon cc-card-bg" style="background-image:url(static/dist/img/covers/2.jpg)">
      </div>
      <div class="cc-card-body">
          <div class="cc-title cc-center">Content data area...</div>
      </div>
    </div>
  </div>
</div>
<pre class="code">
  &lt;div class="cc-card"&gt;
    &lt;div class="cc-card-icon cc-card-bg" style="background-image:url(static/dist/img/covers/2.jpg)"&gt;
    &lt;/div&gt;
    &lt;div class="cc-card-body"&gt;
        &lt;div class="cc-title cc-center"&gt;Content data area...&lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</pre>
