<div class="tccui-component">
  <h1 class="cc-h">Card</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Icon Card</h2>
    <ng-include src="'tpls/components/card/card-icon.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Image Card</h2>
    <ng-include src="'tpls/components/card/card-image.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Icon Card (Title within Background)</h2>
    <ng-include src="'tpls/components/card/card-filled-icon.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Image Card (Title within Background)</h2>
    <ng-include src="'tpls/components/card/card-filled-image.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Horizontal Card</h2>
    <ng-include src="'tpls/components/card/card-horizontal.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Horizontal Card with Padding</h2>
    <ng-include src="'tpls/components/card/card-horizontal-padding.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Card List - flex (fixed width card)</h2>
    <ng-include src="'tpls/components/card/card-list-flex.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Card List - bootstrap</h2>
    <ng-include src="'tpls/components/card/card-list-bootstrap.html'"></ng-include>
  </div>
</div>
