<div class="row">
  <div class="col-sm-6">
    <div class="cc-card">
      <div class="cc-card-icon cc-card-bg">
        <div class="cc-thumbnail-content">
          <img src="static/dist/img/covers/2.jpg" class="cc-thumbnail-img" alt="">
        </div>
      </div>
      <div class="cc-card-body">
          <div class="cc-title cc-center">Content data area...</div>
      </div>
    </div>
  </div>
</div>

<xmp class="code"><div class="cc-card">
  <div class="cc-card-icon cc-card-bg">
    <div class="cc-thumbnail-content">
      <img src="static/dist/img/covers/2.jpg" class="cc-thumbnail-img" alt="">
    </div>
  </div>
  <div class="cc-card-body">
      <div class="cc-title cc-center">Content data area...</div>
  </div>
</div></xmp>
