<style>
.app-list .cc-card{width:300px}
</style>
<div class="cc-flex-list app-list">
  <div class="cc-card">
    <div class="cc-card-icon cc-card-bg">
      <div class="cc-thumbnail-content">
        <i class="ci ci-download-line"></i>
      </div>
    </div>
    <div class="cc-card-body">
      <a href="#" class="cc-title cc-center">Hello World Card title</a>
    </div>
  </div>
  <div class="cc-card">
    <div class="cc-card-icon cc-card-bg">
      <div class="cc-thumbnail-content">
        <img src="static/dist/img/covers/2.jpg" class="cc-thumbnail-img" alt="">
      </div>
    </div>
    <div class="cc-card-body">
        <div class="cc-title cc-center">Content data area...</div>
    </div>
  </div>
  <div class="cc-card empty"></div>
</div>

<xmp class="code"><style>
.app-list .cc-card{width:300px}
</style>
<div class="cc-flex-list app-list">
  <div class="cc-card">
    ...
  </div>
  <div class="cc-card">
    ...
  </div>
  <div class="cc-card empty"></div>
</div></xmp>
