<div class="row">
  <div class="col-sm-6">
    <div class="cc-card cc-card-bg">
      <div class="cc-card-icon">
        <div class="cc-thumbnail-content">
          <i class="ci ci-download-line"></i>
        </div>
      </div>
      <div class="cc-card-body cc-flex">
        <div class="cc-flex-main cc-title">Content data area</div>
        <div class="cc-flex-side">
          <ul class="cc-list2 cc-inline">
            <li>
              <a href="#" class="cc-btn2 ci ci-edit" title="Edit">
                <div class="sr-only">Edit</div>
              </a>
            </li>
            <li>
              <a href="#" class="cc-btn2 ci ci-more" title="More">
                <div class="sr-only">More</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<xmp class="code"><div class="cc-card cc-card-bg">
  <div class="cc-card-icon">
    <div class="cc-thumbnail-content">
      <i class="ci ci-download-line"></i>
    </div>
  </div>
  <div class="cc-card-body cc-flex">
    <div class="cc-flex-main cc-title">Content data area</div>
    <div class="cc-flex-side">
      <ul class="cc-list2 cc-inline">
        <li>
          <a href="#" class="cc-btn2 ci ci-edit" title="Edit">
            <div class="sr-only">Edit</div>
          </a>
        </li>
        <li>
          <a href="#" class="cc-btn2 ci ci-more" title="More">
            <div class="sr-only">More</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div></xmp>
