<div class="cc-grid">
  <div class="cc-row">
    <div class="cc-row-h">Campus Class Name</div>
    <div class="cc-cell">
      WLK-1 Chinese Class
    </div>
  </div>
  <div class="cc-row">
    <div class="cc-row-h">Department</div>
    <div class="cc-cell">
      Arts and Sciences
    </div>
  </div>
  <div class="cc-row">
    <div class="cc-row-h">Category</div>
    <div class="cc-cell">
      Language
    </div>
  </div>
</div>
<pre class="code">
&lt;div class="cc-grid"&gt;
  &lt;div class="cc-row"&gt;
    &lt;div class="cc-row-h"&gt;Campus Class Name&lt;/div&gt;
    &lt;div class="cc-cell"&gt;
      WLK-1 Chinese Class
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="cc-row"&gt;
    &lt;div class="cc-row-h"&gt;Department&lt;/div&gt;
    &lt;div class="cc-cell"&gt;
      Arts and Sciences
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="cc-row"&gt;
    &lt;div class="cc-row-h"&gt;Category&lt;/div&gt;
    &lt;div class="cc-cell"&gt;
      Language
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

</pre>
