<div class="cc-grid cc-grid-2col">
  <div class="cc-row">
    <label for="lastName" class="cc-row-h cc-req">Lastame</label>
    <div class="cc-cell">
      <input type="type" name="lastName" id="lastName" value="" size="30" maxlength="65" class="form-control">
    </div>

  </div>
</div>
<div class="cc-grid cc-grid-2col">
  <div class="cc-row">
    <label for="lastName" class="cc-row-h cc-req">Title</label>
    <div class="cc-cell">
      <input type="type" name="title" id="title" value="" maxlength="65" class="form-control">
    </div>
    <label for="firstName" class="cc-row-h cc-req">First Name</label>
    <div class="cc-cell">
      <input type="type" name="firstName" id="firstName" value="" maxlength="65" class="form-control">
    </div>
  </div>
  <div class="cc-row">
    <label class="cc-row-h" for="middleName">Middle Name</label>
    <div class="cc-cell">
      <input type="type" name="middleName" id="middleName" value=""  maxlength="32" class="form-control">
    </div>
    <label class="cc-row-h cc-req" for="nickName">Nick Name</label>
    <div class="cc-cell">
      <input type="type" name="nickName" id="nickName" value="" maxlength="65" class="form-control">
    </div>
  </div>
  <div class="cc-row">
    <label class="cc-row-h" for="category">Category</label>
    <div class="cc-cell">
      <select name="category" id="category" class="form-control cc-select-arrow">
        <option value="-1"> --- </option>
        <option value="Empty">Empty</option>
        <option value="My first projec">My first projec</option>
        <option value="Sky line Limo">Sky line Limo</option>
      </select>
    </div>
  </div>
</div>
<pre class="code">
  &lt;div class="cc-grid cc-grid-2col"&gt;
  &lt;div class="cc-row"&gt;
    &lt;label for="lastName" class="cc-row-h cc-req"&gt;Lastame&lt;/label&gt;
    &lt;div class="cc-cell"&gt;
      &lt;input type="type" name="lastName"  value=""  maxlength="65" class="form-control"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="cc-grid cc-grid-2col"&gt;
  &lt;div class="cc-row"&gt;
    &lt;label for="lastName" class="cc-row-h cc-req"&gt;Title&lt;/label&gt;
    &lt;div class="cc-cell"&gt;
      &lt;input type="type" name="title"  value="" maxlength="65" class="form-control"&gt;
    &lt;/div&gt;
    &lt;label for="firstName" class="cc-row-h cc-req"&gt;First Name&lt;/label&gt;
    &lt;div class="cc-cell"&gt;
      &lt;input type="type" name="firstName" value="" maxlength="65" class="form-control"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="cc-row"&gt;
    &lt;label class="cc-row-h" for="middleName"&gt;Middle Name&lt;/label&gt;
    &lt;div class="cc-cell"&gt;
      &lt;input type="type" name="middleName" value=""  maxlength="32" class="form-control"&gt;
    &lt;/div&gt;
    &lt;label class="cc-row-h cc-req" for="nickName"&gt;Nick Name&lt;/label&gt;
    &lt;div class="cc-cell"&gt;
      &lt;input type="type" name="nickName" value="" maxlength="65" class="form-control"&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="cc-row"&gt;
    &lt;label class="cc-row-h" for="category"&gt;Category&lt;/label&gt;
    &lt;div class="cc-cell"&gt;
      &lt;select name="category" id="category" class="form-control cc-select-arrow"&gt;
        &lt;option value="-1"&gt; --- &lt;/option&gt;
        &lt;option value="Empty"&gt;Empty&lt;/option&gt;
        &lt;option value="My first projec"&gt;My first projec&lt;/option&gt;
        &lt;option value="Sky line Limo"&gt;Sky line Limo&lt;/option&gt;
      &lt;/select&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

</pre>