<div class="dropdown">
  <button type="button" class="cc-btn" id="btn-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown Action
    <i class="cc-dropdown-ind" aria-hidden="true"></i>
  </button>
  <ul class="dropdown-menu cc-dropdown-menu" role="menu" aria-labelledby="btn-action">
    <li role="presentation"><a href="#" role="menuitem">Button Action</a></li>
    <li role="presentation"><a href="#" role="menuitem">Button Action</a></li>
    <li role="presentation"><a href="#" role="menuitem">Button Action</a></li>
    <li role="separator" class="divider"></li>
    <li role="presentation"><a href="#" role="menuitem">Change Category</a></li>
  </ul>
</div>
<pre class="code">
&lt;div class="dropdown"&gt;
  &lt;button type="button" class="cc-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"&gt;
  DropDown Action &lt;i class="cc-dropdown-ind" aria-hidden="true"&gt;&lt;/i&gt;
  &lt;/button&gt;
  &lt;ul class="dropdown-menu cc-dropdown-menu" role="menu"&gt;
    &lt;li role="presentation"&gt;&lt;a href="#" role="menuitem"&gt;Button Action&lt;/a&gt;&lt;/li&gt;
    &lt;li role="presentation"&gt;&lt;a href="#" role="menuitem"&gt;Button Action&lt;/a&gt;&lt;/li&gt;
    &lt;li role="presentation"&gt;&lt;a href="#" role="menuitem"&gt;Button Action&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
</pre>
