<div class="dropdown">
  <button type="button" class="cc-btn cc-btn-toggle" id="btn-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ci ci-copy" aria-hidden="true"></i>
    <div class="sr-only" id="cus-copy-from">Copy from</div>
  </button>
  <div class="dropdown-menu cc-dropdown-menu">
    <div class="cc-dropdown-label">Copy from</div>
    <ul class="cc-list2 cc-hline" role="menu">
      <li role="presentation"><a href="#" role="menuitem">Public Welcome</a></li>
      <li role="presentation"><a href="#" role="menuitem">Members Welcome</a></li>
    </ul>
  </div>
</div>
<xmp class="code">
<div class="dropdown">
  <button type="button" class="cc-btn cc-btn-toggle" id="btn-action" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="ci ci-copy" aria-hidden="true"></i>
    <div class="sr-only" id="cus-copy-from">Copy from</div>
  </button>
  <div class="dropdown-menu cc-dropdown-menu">
    <div class="cc-dropdown-label">Copy from</div>
    <ul class="cc-list2 cc-hline" role="menu">
      <li role="presentation"><a href="#" role="menuitem">Public Welcome</a></li>
      <li role="presentation"><a href="#" role="menuitem">Members Welcome</a></li>
    </ul>
  </div>
</div>
</xmp>
