<div class="cc-btn-group">
  <div class="dropdown">
    <button type="button" class="cc-btn cc-btn-split">Action</button><button type="button" class="cc-btn cc-btn-split" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false" aria-label="More Action" title="More Action in Dropdown">
      <i class="cc-dropdown-ind"></i>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu cc-dropdown-menu" role="menu" id="dropdown-action" style="min-width:12rem">
      <li role="presentation"><a href="#1" role="menuitem">Action</a></li>
      <li role="presentation"><a href="#2" role="menuitem">Another action</a></li>
      <li role="presentation"><a href="#3" role="menuitem">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li role="presentation"><a href="#4" role="menuitem">Separated link</a></li>
    </ul>
  </div>
</div>
<pre class="code">
  &lt;fw:strip&gt;
    &lt;div class="cc-btn-group"&gt;
      &lt;div class="dropdown"&gt;
        &lt;button type="button" class="cc-btn cc-btn-split"&gt;Action&lt;/button&gt;
        &lt;button type="button" class="cc-btn cc-btn-split" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false" aria-label="More Action" title="More Action in Dropdown"&gt;
          &lt;i class="cc-dropdown-ind"&gt;&lt;/i&gt;
          &lt;span class="sr-only"&gt;Toggle Dropdown&lt;/span&gt;
        &lt;/button&gt;
        &lt;ul class="dropdown-menu cc-dropdown-menu" role="menu" id="dropdown-action" style="min-width:12rem"&gt;
          &lt;li role="presentation"&gt;&lt;a href="#1" role="menuitem"&gt;Action&lt;/a&gt;&lt;/li&gt;
          &lt;li role="presentation"&gt;&lt;a href="#2" role="menuitem"&gt;Another action&lt;/a&gt;&lt;/li&gt;
          &lt;li role="presentation"&gt;&lt;a href="#3" role="menuitem"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
          &lt;li role="separator" class="divider"&gt;&lt;/li&gt;
          &lt;li role="presentation"&gt;&lt;a href="#4" role="menuitem"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/strip&gt;
</pre>
  or (no space in between two splited buttons.)
<pre class="code">
  &lt;div class="cc-btn-group"&gt;
    &lt;div class="dropdown"&gt;
      &lt;button type="button" class="cc-btn cc-btn-split"&gt;Action&lt;/button&gt;<strong>&lt;button</strong> type="button" class="cc-btn cc-btn-split" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" aria-label="More Action" title="More Action in Dropdown"&gt;
        &lt;span class="cc-dropdown-ind"&gt;&lt;/span&gt;
        &lt;span class="sr-only"&gt;Toggle Dropdown&lt;/span&gt;
      &lt;/button&gt;
      &lt;ul class="dropdown-menu cc-dropdown-menu" role="menu" id="dropdown-action" style="min-width:12rem"&gt;
        &lt;li role="presentation"&gt;&lt;a href="#1" role="menuitem"&gt;Action&lt;/a&gt;&lt;/li&gt;
        &lt;li role="presentation"&gt;&lt;a href="#2" role="menuitem"&gt;Another action&lt;/a&gt;&lt;/li&gt;
        &lt;li role="presentation"&gt;&lt;a href="#3" role="menuitem"&gt;Something else here&lt;/a&gt;&lt;/li&gt;
        &lt;li role="separator" class="divider"&gt;&lt;/li&gt;
        &lt;li role="presentation"&gt;&lt;a href="#4" role="menuitem"&gt;Separated link&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</pre>
