<div class="dropdown">
  <button type="button" class="cc-btn cc-btn-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="folder">
    <i class="ci ci-folder" aria-hidden="true"></i> Folder
  </button>
  <ul class="dropdown-menu cc-dropdown-menu" role="menu" aria-labelledby="btn-action">
    <li role="presentation" class="active"><a href="#" role="menuitem">Home</a></li>
    <li role="presentation"><a href="#" role="menuitem">Doc</a></li>
    <li role="presentation"><a href="#" role="menuitem">Video</a></li>
    <li role="separator" class="divider"></li>
    <li role="presentation">
      <a href="#" role="menuitem">
        <i class="ci ci-add" aria-hidden="true"></i> Add Folder
      </a>
    </li>
  </ul>
</div>
<xmp class="code">
<div class="dropdown">
  <button type="button" class="cc-btn cc-btn-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="folder">
    <i class="ci ci-folder" aria-hidden="true"></i> Folder
  </button>
  <ul class="dropdown-menu cc-dropdown-menu" role="menu" aria-labelledby="btn-action">
    <li role="presentation" class="active"><a href="#" role="menuitem">Home</a></li>
    <li role="presentation"><a href="#" role="menuitem">Doc</a></li>
    <li role="presentation"><a href="#" role="menuitem">Video</a></li>
    <li role="separator" class="divider"></li>
    <li role="presentation">
      <a href="#" role="menuitem">
        <i class="ci ci-add" aria-hidden="true"></i> Add Folder
      </a>
    </li>
  </ul>
</div>
</xmp>
