<div class="tccui-component">
<h1 class="cc-h">Switch</h1>
<div class="cc-panel">
  <h2 class="cc-h">Switch Off</h2>
  <label class="cc-switch">
    <input type="checkbox" class="cc-switch-input" id="lb-published-1"/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
    Published
  </label>
  <br><br><br>
  <span class="cc-switch">
    <input type="checkbox" class="cc-switch-input" id="lb-published-2"/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
  </span>
  <label class="cc-label" for="lb-published-2">Published</label>

  <br><br><br>
  <span class="cc-switch">
    <input type="checkbox" class="cc-switch-input" aria-labelledby="lb-published-3"/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
  </span>
  <label class="cc-label" id="lb-published-3">Published</label>

  <br><br><br>
  <label class="cc-switch">
    <input type="checkbox" class="cc-switch-input" id="lb-published-4"/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
    <div class="sr-only">Published</div>
  </label>
  
<xmp class="code">
  <label class="cc-switch">
    <input type="checkbox" class="cc-switch-input" id="lb-published-1"/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
    Published
  </label>


  <span class="cc-switch">
    <input type="checkbox" class="cc-switch-input" id="lb-published-2"/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
  </span>
  <label class="cc-label" for="lb-published-2">Published</label>


  <span class="cc-switch">
    <input type="checkbox" class="cc-switch-input" aria-labelledby="lb-published-3"/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
  </span>
  <label class="cc-label" id="lb-published-3">Published</label>


  <label class="cc-switch">
    <input type="checkbox" class="cc-switch-input" id="lb-published-4"/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
    <div class="sr-only">Published</div>
  </label>

</xmp>
</div>

<div class="cc-panel">
  <h2 class="cc-h">Switch On</h2>
  <label class="cc-switch">
    <input type="checkbox" class="cc-switch-input" id="2" checked/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
    Published
  </label>
<xmp class="code">
  <label class="cc-switch">
    <input type="checkbox" class="cc-switch-input" id="2" checked/>
    <div class="cc-switch-track">
      <span class="cc-switch-focus"></span>
    </div>
    Published
  </label>
</xmp>
</div>

<div class="cc-panel">
  <h2 class="cc-h">Switch With Description</h2>
  <div class="cc-grid">
    <div class="cc-row">
      <div class="cc-row-h">
        <span class="cc-switch">
          <input type="checkbox" class="cc-switch-input" id="opt-1" checked/>
          <div class="cc-switch-track">
            <span class="cc-switch-focus"></span>
          </div>
        </span>
      </div>
      <label class="cc-cell" for="opt-1">Directory Opt-out</label>
    </div>
    <div class="cc-row cc-gap">
      <div class="cc-row-h"></div>
      <div class="cc-cell cc-desc">
        Take me off from the public listing.
      </div>
    </div>
    <div class="cc-row">
      <div class="cc-row-h">
        <span class="cc-switch">
          <input type="checkbox" class="cc-switch-input" id="opt-2" checked/>
          <div class="cc-switch-track">
            <span class="cc-switch-focus"></span>
          </div>
        </span>
      </div>
      <label class="cc-cell" for="opt-2">Option 2</label>
    </div>
    <div class="cc-row">
      <div class="cc-row-h"></div>
      <div class="cc-cell cc-desc">
        More desciption
      </div>
    </div>
  </div>
<xmp class="code">
  <div class="cc-grid">
    <div class="cc-row">
      <div class="cc-row-h">
        <span class="cc-switch">
          <input type="checkbox" class="cc-switch-input" id="opt-1" checked/>
          <div class="cc-switch-track">
            <span class="cc-switch-focus"></span>
          </div>
        </span>
      </div>
      <label class="cc-cell" for="opt-1">Directory Opt-out</label>
    </div>
    <div class="cc-row cc-gap">
      <div class="cc-row-h"></div>
      <div class="cc-cell cc-desc">
        Take me off from the public listing.
      </div>
    </div>
    <div class="cc-row">
      <div class="cc-row-h">
        <span class="cc-switch">
          <input type="checkbox" class="cc-switch-input" id="opt-2" checked/>
          <div class="cc-switch-track">
            <span class="cc-switch-focus"></span>
          </div>
        </span>
      </div>
      <label class="cc-cell" for="opt-2">Option 2</label>
    </div>
    <div class="cc-row">
      <div class="cc-row-h"></div>
      <div class="cc-cell cc-desc">
        More desciption
      </div>
    </div>
  </div>
</xmp>
</div>

</div>