@font-face {
  font-family: "ccicon";
  src: url('fonts/ccicon.eot');
  src: url('fonts/ccicon.eot?#iefix') format('embedded-opentype'),
  url('fonts/ccicon.woff') format('woff'),
  url('fonts/ccicon.ttf') format('truetype'),
  url('fonts/ccicon.svg#ccicon') format('svg');
}

.ci:before {
  font-family: "ccicon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

.ci-academic-alert:before{content:"\e900"}
.ci-accessible:before{content:"\e901"}
.ci-activity:before{content:"\e902"}
.ci-add-all:before{content:"\e903"}
.ci-add-event:before{content:"\e904"}
.ci-add-folder:before,.ci-add-folder-line:before{content:"\e905"}
.ci-add-task:before{content:"\e906"}
.ci-add:before{content:"\e907"}
.ci-address:before,.ci-vcard:before{content:"\e908"}
.ci-addressbook:before,.ci-cardcase:before{content:"\e909"}
.ci-admin:before{content:"\e90a"}
.ci-align-center:before{content:"\ea98"}
.ci-align-left:before{content:"\ea95"}
.ci-align-right:before{content:"\ea96"}
.ci-announcement-o:before{content:"\e90c"}
.ci-announcement:before{content:"\e90d"}
.ci-anonymous:before{content:"\e90e"}
.ci-app:before{content:"\e90f"}
.ci-approve:before{content:"\e910"}
.ci-approved:before{content:"\e911"}
.ci-archive:before{content:"\e912"}
.ci-area-chart:before{content:"\e913"}
.ci-arrow-bottom:before{content:"\e914"}
.ci-arrow-double-down:before{content:"\e9b8"}
.ci-arrow-double-left:before{content:"\e9b9"}
.ci-arrow-double-right:before{content:"\e9bb"}
.ci-arrow-double-up:before{content:"\e9bc"}
.ci-arrow-down:before{content:"\e915"}
.ci-arrow-top:before{content:"\e918"}
.ci-arrow-up:before{content:"\e919"}
.ci-assessment-editor:before{content:"\e91a"}
.ci-assessment:before{content:"\e91b"}
.ci-assignment-editor:before{content:"\e91c"}
.ci-assignment:before{content:"\e91d"}
.ci-assistant:before{content:"\e91e"}
.ci-attachment:before,.ci-attachment-one-o:before,.ci-attachment-three-o:before,.ci-attachment-two-o:before{content:"\e91f"}
.ci-attendance:before{content:"\e920"}
.ci-auditor:before{content:"\e921"}
.ci-back2:before{content:"\e922"}
.ci-back:before,.ci-arrow-left:before{content:"\e916"}
.ci-bag:before{content:"\e923"}
.ci-bar-chart:before{content:"\e924"}
.ci-best-practice:before{content:"\ea86"}
.ci-blackboard:before{content:"\e925"}
.ci-blog:before{content:"\e927"}
.ci-bold:before{content:"\ea97"}
.ci-book-o:before{content:"\e928"}
.ci-bookmark-manager:before{content:"\e929"}
.ci-bookmark:before{content:"\e92a"}
.ci-calculate:before,.ci-cruiser-eval-result:before{content:"\e92b"}
.ci-calendar-add:before{content:"\ea94"}
.ci-calendar-o:before{content:"\e92d"}
.ci-calendar:before{content:"\e92e"}
.ci-camera:before,.ci-camera-one:before,.ci-camera-two:before{content:"\e92f"}
.ci-campus-file-manager:before{content:"\e930"}
.ci-campus-manager:before{content:"\e931"}
.ci-campus-webpages:before{content:"\e932"}
.ci-campus:before,.ci-campus-o:before{content:"\e933"}
.ci-cancel:before{content:"\e934"}
.ci-card-horizontal:before{content:"\e935"}
.ci-cart:before,.ci-cart-o:before{content:"\e936"}
.ci-category:before{content:"\e937"}
.ci-cencel-o:before{content:"\eaa2"}
.ci-channel:before{content:"\e938"}
.ci-chat:before{content:"\e939"}
.ci-chatRoom-manager:before{content:"\e93a"}
.ci-check:before,.ci-ok:before{content:"\e93b"}
.ci-circle-hollow:before,.ci-circle-o:before{content:"\e93c"}
.ci-circle:before,.ci-circle-solid:before{content:"\e93d"}
.ci-class-admin-tools:before{content:"\e93e"}
.ci-class-alert:before{content:"\e93f"}
.ci-class-data:before{content:"\e940"}
.ci-class-import-manager:before{content:"\e941"}
.ci-class-one:before{content:"\e942"}
.ci-class-setting:before{content:"\e943"}
.ci-class-type:before{content:"\e944"}
.ci-classes:before{content:"\e945"}
.ci-close-content:before{content:"\e946"}
.ci-close-folder:before{content:"\e947"}
.ci-close-o:before,.ci-delete:before{content:"\e948"}
.ci-close:before{content:"\e949"}
.ci-cloud-o:before,.ci-cloud-line:before{content:"\e94a"}
.ci-cloud:before{content:"\e94b"}
.ci-club:before,.ci-cruiser-central:before{content:"\e94c"}
.ci-code:before{content:"\e94d"}
.ci-coffee:before,.ci-coffee-o:before{content:"\e94e"}
.ci-color:before{content:"\e94f"}
.ci-comment-o:before{content:"\ea84"}
.ci-comment:before{content:"\ea85"}
.ci-committee:before{content:"\e950"}
.ci-communication:before{content:"\e951"}
.ci-community-add:before{content:"\e9c7"}
.ci-community-o:before{content:"\e9c1"}
.ci-community:before{content:"\e9c0"}
.ci-compass-o:before{content:"\ea7e"}
.ci-compass:before{content:"\ea7d"}
.ci-compose-email:before{content:"\e952"}
.ci-computer-one:before,.ci-laptop:before{content:"\e953"}
.ci-computer-two:before,.ci-computer-three:before,.ci-desktop:before{content:"\e954"}
.ci-contact-list:before{content:"\e955"}
.ci-contacts-manager:before{content:"\e956"}
.ci-content-admin:before{content:"\e957"}
.ci-content:before{content:"\e958"}
.ci-contract:before,.ci-contract-o:before{content:"\e959"}
.ci-control-panel:before{content:"\e95a"}
.ci-copy:before,.ci-detach:before{content:"\e95b"}
.ci-course-design-tools:before{content:"\e95c"}
.ci-course-designer-line:before{content:"\e95d"}
.ci-course-designer:before{content:"\e95e"}
.ci-course-list:before{content:"\e95f"}
.ci-course-templates:before{content:"\e960"}
.ci-courser:before{content:"\e961"}
.ci-cruiser-alert:before,.ci-survey-o:before,.ci-cruiser-alert-manager:before{content:"\e962"}
.ci-cruiser-assist:before{content:"\e963"}
.ci-cruiser-eval-manager:before{content:"\e964"}
.ci-custom-group:before{content:"\e965"}
.ci-custom:before{content:"\e966"}
.ci-customize-welcome:before{content:"\e967"}
.ci-dashboard-manager:before{content:"\e968"}
.ci-datafeed-manager:before{content:"\e969"}
.ci-date-picker:before{content:"\e96a"}
.ci-deleted:before{content:"\e96b"}
.ci-department:before{content:"\e96c"}
.ci-design-manager:before{content:"\e96d"}
.ci-discussion:before{content:"\e96e"}
.ci-dislike-o:before{content:"\e96f"}
.ci-dislike:before{content:"\e9c5"}
.ci-document:before,.ci-file:before,.ci-txt:before,.ci-study-notes:before{content:"\e970"}
.ci-download-o:before,.ci-download-line:before{content:"\e971"}
.ci-download:before{content:"\e972"}
.ci-draft:before{content:"\e973"}
.ci-drag-o:before,.ci-drag-line:before{content:"\e974"}
.ci-drag:before{content:"\e975"}
.ci-earphone:before,.ci-earphone-o:before{content:"\e976"}
.ci-edit-o:before,.ci-pen-o:before{content:"\e978"}
.ci-edit-setting:before{content:"\e977"}
.ci-editor:before{content:"\e979"}
.ci-email-members:before{content:"\e97a"}
.ci-email:before{content:"\ea90"}
.ci-employee:before{content:"\e97b"}
.ci-excel:before{content:"\e97c"}
.ci-excexl:before{content:"\e97d"}
.ci-exit-data:before{content:"\e97e"}
.ci-expired:before,.ci-type-expired:before{content:"\e97f"}
.ci-export:before{content:"\e980"}
.ci-ext-comm-manager:before{content:"\e981"}
.ci-extra:before{content:"\e982"}
.ci-facebook:before{content:"\e983"}
.ci-faculty-coursework:before{content:"\e984"}
.ci-faculty:before{content:"\e985"}
.ci-figure:before{content:"\e986"}
.ci-filter-o:before{content:"\e987"}
.ci-filter:before,.ci-filter-one:before{content:"\e988"}
.ci-flag-01:before{content:"\e989"}
.ci-flag-02:before{content:"\e98a"}
.ci-flag-03:before{content:"\e98b"}
.ci-flag-04:before{content:"\e98c"}
.ci-flag-race:before{content:"\e98d"}
.ci-flag:before{content:"\e98e"}
.ci-folder-shared:before{content:"\e98f"}
.ci-folder:before{content:"\e990"}
.ci-full-menu:before{content:"\e991"}
.ci-generic-community:before{content:"\e992"}
.ci-generic-pushed:before{content:"\e993"}
.ci-generic:before{content:"\e994"}
.ci-globe:before{content:"\e995"}
.ci-goto2:before{content:"\e996"}
.ci-goto:before,.ci-arrow-right:before{content:"\e917"}
.ci-gradebook-manager:before{content:"\e997"}
.ci-gradebook:before{content:"\e998"}
.ci-graded:before{content:"\e999"}
.ci-grades-performance:before{content:"\e99a"}
.ci-headlines-manager:before{content:"\e99b"}
.ci-heart-o:before,.ci-heart-line:before,.ci-heart-two:before{content:"\e99c"}
.ci-heart:before{content:"\e99d"}
.ci-help-o:before,.ci-help-one:before{content:"\e99e"}
.ci-help:before{content:"\e99f"}
.ci-hide:before{content:"\e9a0"}
.ci-home-o:before{content:"\e9bf"}
.ci-home:before{content:"\e9a1"}
.ci-host:before{content:"\e9a2"}
.ci-ical:before{content:"\e9a3"}
.ci-ie:before{content:"\e9a4"}
.ci-image:before,.ci-photo:before{content:"\e9a5"}
.ci-import:before{content:"\e9a6"}
.ci-inactive:before{content:"\e9a7"}
.ci-inbox:before{content:"\e9a8"}
.ci-indent-left:before{content:"\e9a9"}
.ci-indent-right:before{content:"\e9aa"}
.ci-info:before{content:"\e9ab"}
.ci-instagram:before{content:"\e9ac"}
.ci-italic:before{content:"\ea99"}
.ci-journal-manager:before{content:"\e9ad"}
.ci-journal:before{content:"\e9ae"}
.ci-justify:before{content:"\ea9a"}
.ci-layout:before{content:"\e9af"}
.ci-like-o:before{content:"\e9b0"}
.ci-like:before{content:"\e9c4"}
.ci-line-spacing:before{content:"\ea9b"}
.ci-link:before{content:"\e9b1"}
.ci-linkedin:before{content:"\e9b2"}
.ci-list-columns-o:before{content:"\e9b3"}
.ci-list-columns:before{content:"\e9b4"}
.ci-list-num:before {content: "\ea9f"}
.ci-list:before{content:"\e9b5"}
.ci-lock-o:before{content:"\ea82"}
.ci-lock:before{content:"\ea81"}
.ci-login:before{content:"\e9b6"}
.ci-logout:before{content:"\e9b7"}
.ci-mail-delivered:before{content:"\ea8c"}
.ci-mail-delivering:before{content:"\ea8a"}
.ci-mail-draft:before{content:"\e9ba"}
.ci-mail-fwd:before{content:"\ea8d"}
.ci-mail-read:before{content:"\ea89"}
.ci-mail-reply:before{content:"\ea8f"}
.ci-mail-send:before{content:"\e9c6"}
.ci-mail-setting:before{content:"\ea8b"}
.ci-mail-unable:before{content:"\ea8e"}
.ci-map-o:before{content:"\e9c8"}
.ci-map:before{content:"\e9c9"}
.ci-mark:before,.ci-mark-new:before,.ci-ok-square:before,.ci-check-square:before{content:"\e9ca"}
.ci-medal:before,.ci-medal-o:before{content:"\e9cb"}
.ci-member-add:before{content:"\e9cc"}
.ci-member:before{content:"\e9cd"}
.ci-members-manager:before{content:"\e9ce"}
.ci-message-board:before{content:"\e9cf"}
.ci-message-topic:before{content:"\e9d0"}
.ci-mobile:before,.ci-mobile-o:before,.ci-mobile-two:before{content:"\e9d1"}
.ci-moderate:before{content:"\e9d2"}
.ci-moderated:before{content:"\e9d3"}
.ci-monitor-setup:before{content:"\e9d4"}
.ci-more:before{content:"\e9d5"}
.ci-move-down:before{content:"\e9d6"}
.ci-move-left:before{content:"\e9d7"}
.ci-move-right:before{content:"\e9d8"}
.ci-move-up:before{content:"\e9d9"}
.ci-move:before{content:"\e9da"}
.ci-music:before,.ci-music-one:before{content:"\e9db"}
.ci-my-classes:before{content:"\e9dc"}
.ci-my-evaluation:before{content:"\e9dd"}
.ci-mycourse-content:before{content:"\e9de"}
.ci-myfiles:before{content:"\e9df"}
.ci-navigation-manager:before{content:"\e9e0"}
.ci-new-data:before{content:"\e9e1"}
.ci-news-o:before{content:"\e9bd"}
.ci-news:before{content:"\e9e2"}
.ci-no-permission:before{content:"\e9e3"}
.ci-no-start:before{content:"\e9e4"}
.ci-non-shared:before{content:"\e9e5"}
.ci-non-sticky:before{content:"\e9e6"}
.ci-notification-center:before,.ci-notification-o:before{content:"\ea88"}
.ci-notification:before{content:"\e9c3"}
.ci-number:before{content:"\e9e7"}
.ci-office:before{content:"\e9e8"}
.ci-ok-circle:before,.ci-check-circle:before{content:"\eaa3"}
.ci-open-content:before{content:"\e9e9"}
.ci-open-folder:before{content:"\e9ea"}
.ci-open:before{content:"\e9eb"}
.ci-org-o:before{content:"\e9ec"}
.ci-org:before{content:"\e9ed"}
.ci-page-last:before{content:"\e9ee"}
.ci-page-next:before{content:"\e9ef"}
.ci-page-pre:before{content:"\e9f0"}
.ci-page-top:before{content:"\e9f1"}
.ci-participant:before,.ci-members:before{content:"\e9f2"}
.ci-password-manager:before{content:"\e9f3"}
.ci-paste:before{content:"\ea9c"}
.ci-pdf:before{content:"\e9f4"}
.ci-pen:before,.ci-edit:before{content:"\e9f5"}
.ci-pending:before{content:"\e9f6"}
.ci-percent:before{content:"\e9f7"}
.ci-pie-chart:before,.ci-pie-line:before,.ci-pie-o:before{content:"\e9f8"}
.ci-pie:before{content:"\e9f9"}
.ci-powerpoint:before{content:"\e9fa"}
.ci-powerpointx:before{content:"\e9fb"}
.ci-preview:before{content:"\e9fc"}
.ci-print-o:before{content:"\e9fd"}
.ci-print:before,.ci-print-one:before{content:"\e9fe"}
.ci-priority-high:before{content:"\e9ff"}
.ci-private:before{content:"\ea00"}
.ci-processing:before{content:"\ea01"}
.ci-profile:before{content:"\ea02"}
.ci-prohibited:before{content:"\ea03"}
.ci-push-to-campus:before{content:"\ea04"}
.ci-puzzle-o:before,.ci-puzzle-line:before{content:"\ea05"}
.ci-puzzle:before{content:"\ea06"}
.ci-quit:before{content:"\ea07"}
.ci-refresh:before{content:"\ea08"}
.ci-reject:before{content:"\ea09"}
.ci-repeat:before,.ci-redo:before{content:"\ea0a"}
.ci-reply-all:before{content:"\ea0b"}
.ci-reply:before{content:"\ea0c"}
.ci-request:before{content:"\ea0d"}
.ci-require-data:before{content:"\ea0e"}
.ci-ringing:before{content:"\ea0f"}
.ci-role-manager:before,.ci-user-admin:before,.ci-user-manager:before{content:"\ea10"}
.ci-rss-feed,.ci-rss-circle:before{content:"\ea11"}
.ci-rss-published:before{content:"\ea12"}
.ci-rss-square:before{content:"\ea13"}
.ci-rss:before{content:"\ea91"}
.ci-rsvp:before{content:"\ea14"}
.ci-rubic:before,.ci-score:before{content:"\ea15"}
.ci-save-o:before{content:"\eaa1"}
.ci-save:before{content:"\ea16"}
.ci-scanner:before,.ci-scanner-o:before,.ci-scan:before{content:"\ea17"}
.ci-search-bold:before{content:"\e9c2"}
.ci-search-minus:before{content:"\ea18"}
.ci-search-plus:before{content:"\ea19"}
.ci-search:before{content:"\ea1a"}
.ci-setting-o:before,.ci-setting-line:before{content:"\ea1b"}
.ci-setting:before{content:"\ea1c"}
.ci-share:before,.ci-shortcut:before{content:"\ea1d"}
.ci-shared2:before{content:"\ea1f"}
.ci-shared:before,.ci-shared-o:before{content:"\ea1e"}
.ci-shield:before,.ci-shield-o:before{content:"\ea20"}
.ci-shopping:before,.ci-shopping-o:before{content:"\ea21"}
.ci-show:before{content:"\ea22"}
.ci-sign-in-activity:before{content:"\ea23"}
.ci-signal:before{content:"\ea24"}
.ci-sort-arrow:before{content:"\ea25"}
.ci-sort-current:before{content:"\ea26"}
.ci-sort-down:before{content:"\ea27"}
.ci-sort-up:before{content:"\ea28"}
.ci-sort:before{content:"\ea29"}
.ci-spellcheck:before{content:"\ea2a"}
.ci-square-o:before,.ci-square-hollow:before{content:"\ea2b"}
.ci-square:before,.ci-square-solid:before{content:"\ea2c"}
.ci-star-o:before,.ci-star-one:before{content:"\ea2d"}
.ci-star:before{content:"\ea2e"}
.ci-statistic:before,.ci-line-chart:before,.ci-student-tracking:before{content:"\ea2f"}
.ci-status-learning:before{content:"\ea30"}
.ci-sticky-o:before{content:"\ea31"}
.ci-sticky:before{content:"\ea83"}
.ci-storage-admin:before{content:"\ea32"}
.ci-storage-history:before{content:"\ea33"}
.ci-storage-purge:before{content:"\ea34"}
.ci-storage:before{content:"\ea35"}
.ci-student-coursework:before{content:"\ea36"}
.ci-student-tools:before{content:"\ea37"}
.ci-student:before{content:"\ea38"}
.ci-subfolder:before{content:"\ea39"}
.ci-submission:before{content:"\ea3a"}
.ci-subscribe:before{content:"\ea3b"}
.ci-subscribed:before{content:"\ea3c"}
.ci-survey:before{content:"\ea3d"}
.ci-suspicious:before{content:"\ea3e"}
.ci-switch-off:before{content:"\ea3f"}
.ci-switch-on:before{content:"\ea40"}
.ci-syllabus-editor:before{content:"\ea41"}
.ci-syllabus:before{content:"\ea42"}
.ci-system-headlines:before{content:"\ea43"}
.ci-system-tools:before{content:"\ea44"}
.ci-table:before{content:"\ea9d"}
.ci-tag:before{content:"\ea45"}
.ci-target:before{content:"\ea46"}
.ci-task:before{content:"\ea47"}
.ci-team:before,.ci-my-communities:before,.ci-community-admin:before,.ci-community-manager:before{content:"\ea48"}
.ci-telephone:before,.ci-telephone-o:before{content:"\ea49"}
.ci-template-locator:before{content:"\ea4a"}
.ci-thumbnail-o:before{content:"\e9be"}
.ci-thumbnail:before{content:"\ea4b"}
.ci-time:before,.ci-clock:before{content:"\ea4c"}
.ci-tool-access-manager:before{content:"\ea4d"}
.ci-tracker-admin:before{content:"\ea4e"}
.ci-tracker:before{content:"\ea4f"}
.ci-trash:before{content:"\ea50"}
.ci-triangle-bottom-o:before{content:"\ea51"}
.ci-triangle-bottom:before{content:"\ea52"}
.ci-triangle-left-o:before{content:"\ea53"}
.ci-triangle-left:before{content:"\ea54"}
.ci-triangle-right-o:before{content:"\ea55"}
.ci-triangle-right:before{content:"\ea56"}
.ci-triangle-top-o:before{content:"\ea57"}
.ci-triangle-top:before{content:"\ea58"}
.ci-turnitin-setting:before{content:"\ea59"}
.ci-twitter:before{content:"\ea5a"}
.ci-type-active:before{content:"\ea5b"}
.ci-type-total:before{content:"\ea5c"}
.ci-underline:before{content:"\ea9e"}
.ci-undo:before{content:"\eaa0"}
.ci-unit:before{content:"\ea5d"}
.ci-unknow:before{content:"\ea5e"}
.ci-unlock-o:before,.ci-public-o:before{content:"\ea7f"}
.ci-unlock:before,.ci-public:before{content:"\ea80"}
.ci-unsubscribe:before{content:"\ea5f"}
.ci-upload-o:before,.ci-upload-line:before,.ci-publish-o:before{content:"\ea60"}
.ci-upload:before,.ci-publish:before,.ci-published:before{content:"\ea61"}
.ci-usage-report:before{content:"\ea62"}
.ci-user-attr-manager:before{content:"\ea63"}
.ci-user-dir-manager:before{content:"\ea64"}
.ci-user-directory:before{content:"\ea65"}
.ci-user-roles:before{content:"\ea66"}
.ci-video:before{content:"\ea67"}
.ci-view-class:before,.ci-glasses:before,.ci-glasses-o:before{content:"\ea68"}
.ci-view-o:before,.ci-view-line:before{content:"\ea69"}
.ci-view:before{content:"\ea6a"}
.ci-violated:before{content:"\ea87"}
.ci-virtual-member:before{content:"\ea6b"}
.ci-virus-exist:before{content:"\ea6c"}
.ci-virus-no:before{content:"\ea6d"}
.ci-virus-notstart:before{content:"\ea6e"}
.ci-virus-scan:before{content:"\ea6f"}
.ci-virus-suspect:before{content:"\ea70"}
.ci-virus:before{content:"\ea71"}
.ci-volume-o:before{content:"\ea92"}
.ci-volume:before{content:"\ea93"}
.ci-warning:before{content:"\ea72"}
.ci-webpage:before{content:"\ea73"}
.ci-welcome-tabs-manager:before{content:"\ea74"}
.ci-welcome-template:before{content:"\ea75"}
.ci-wiki:before{content:"\ea76"}
.ci-wizard:before{content:"\ea77"}
.ci-word:before,.ci-word-line:before{content:"\ea78"}
.ci-wordx:before,.ci-wordx-line:before{content:"\ea79"}
.ci-wrench-o:before{content:"\ea7a"}
.ci-youtube:before{content:"\ea7b"}
.ci-zip:before,.ci-zip-line:before,.ci-zip-o:before{content:"\ea7c"}