<ol class="cc-dnd-section">
  <li class="cc-dnd-item cc-dnd3-item" data-id="13">
    <div class="cc-dnd-handle cc-dnd3-handle"><i class="ci ci-drag"></i></div>
    <div class="cc-dnd3-content">
      <i class="ci ci-star ci-style"></i>
      <span class="cc-title">Tool One</span>
    </div>
  </li>
  <li class="cc-dnd-item cc-dnd3-item" data-id="13">
    <div class="cc-dnd-handle cc-dnd3-handle"><i class="ci ci-drag"></i></div>
    <div class="cc-dnd3-content">
      <i class="ci ci-star ci-style"></i>
      <span class="cc-title">Tool Two</span>
    </div>
  </li>
</ol>
<pre class="code">
  &lt;ol class="cc-dnd-section"&gt;
  &lt;li class="cc-dnd-item cc-dnd3-item" data-id="13"&gt;
    &lt;div class="cc-dnd-handle cc-dnd3-handle"&gt;&lt;i class="ci ci-drag"&gt;&lt;/i&gt;&lt;/div&gt;
    &lt;div class="cc-dnd3-content"&gt;
      &lt;i class="ci ci-star ci-style"&gt;&lt;/i&gt;
      &lt;span class="cc-title"&gt;Tool One&lt;/span&gt;
    &lt;/div&gt;
  &lt;/li&gt;
  &lt;li class="cc-dnd-item cc-dnd3-item" data-id="13"&gt;
    &lt;div class="cc-dnd-handle cc-dnd3-handle"&gt;&lt;i class="ci ci-drag"&gt;&lt;/i&gt;&lt;/div&gt;
    &lt;div class="cc-dnd3-content"&gt;
      &lt;i class="ci ci-star ci-style"&gt;&lt;/i&gt;
      &lt;span class="cc-title"&gt;Tool Two&lt;/span&gt;
    &lt;/div&gt;
  &lt;/li&gt;
&lt;/ol&gt;

</pre>