<ul class="cc-list">
    <li class="cc-hover">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li class="cc-hover">Ut lobortis mi a orci viverra malesuada.</li>
    <li class="cc-hover">Nunc mattis metus ut augue condimentum pulvinar.</li>
</ul>

<pre class="code">
&lt;ul class="cc-list"&gt;
  &lt;li class="cc-hover"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit.&lt;/li&gt;
  &lt;li class="cc-hover"&gt;Ut lobortis mi a orci viverra malesuada.&lt;/li&gt;
  &lt;li class="cc-hover"&gt;Nunc mattis metus ut augue condimentum pulvinar.&lt;/li&gt;
&lt;/ul&gt;
</pre>
