<ul class="cc-list2 cc-inline cc-text2">
  <li title="Blog">
    <i aria-hidden="true" class="ci ci-blog cc-dot-icon"></i> 
    <a href="#" target="_blank">Helsinki: 10 tips for visiting the capital of Finland</a>
  </li>
  <li title="Published by" class="cc-dot-member cc-text-one-left">
    <div class="sr-only">Published by</div>  Jerry Hillside
  </li>
  <li title="Published at" class="cc-dot-time cc-text-one-line">
    <div class="sr-only">Published at </div> 07/03/2017
  </li>
</ul>

<xmp class="code">
<ul class="cc-list2 cc-inline cc-text2">
  <li title="Blog">
    <i aria-hidden="true" class="ci ci-blog cc-dot-icon"></i> 
    <a href="#" target="_blank">Helsinki: 10 tips for visiting the capital of Finland</a>
  </li>
  <li title="Published by" class="cc-dot-member cc-text-one-left">
    <div class="sr-only">Published by</div>  Jerry Hillside
  </li>
  <li title="Published at" class="cc-dot-time cc-text-one-line">
    <div class="sr-only">Published at </div> 07/03/2017
  </li>
</ul>
</xmp>
