<ul class="cc-list cc-flex">
  <li class="cc-flex-item">
    <a href="#">Item one</a>
  </li>
  <li class="cc-flex-item">
    <a href="#">Item two</a>
  </li>
  <li class="cc-flex-spacer">
    <a href="#">Item three</a>
  </li>
  <li class="cc-flex-item">
    <a href="#">Item three</a>
  </li>
</ul>

<xmp class="code">
<ul class="cc-list cc-flex">
  <li class="cc-flex-item">
    <a href="#">Item one</a>
  </li>
  <li class="cc-flex-item">
    <a href="#">Item two</a>
  </li>
  <li class="cc-flex-spacer">
    <a href="#">Item three</a>
  </li>
  <li class="cc-flex-item">
    <a href="#">Item three</a>
  </li>
</ul>
</xmp>
