<ul class="list-group cc-list-group">
  <li>
    <a href="#ccm-nav-tabR22-0_1" class="cc-tgl-ind-right" data-toggle="collapse" aria-expanded="true" aria-controls="ccm-nav-tab-R22-0_1" target="_self">
      Campus
    </a>
    <ul class="cc-list2 collapse in" id="ccm-nav-tabR22-0_1">
      <li><a href="#" class="ccm-on">General</a></li>
      <li><a href="#">Offices</a></li>
    </ul>
  </li>
  <li>
    <a href="#ccm-nav-tabR22-0_81" class="cc-tgl-ind-right" data-toggle="collapse" aria-expanded="false" aria-controls="ccm-nav-tab-R22-0_81" target="_self">
      Campus Life
    </a>
    <ul class="cc-list2 collapse" id="ccm-nav-tabR22-0_81">
      <li><a href="#">Clubs</a></li>
      <li><a href="#">Committees</a></li>
    </ul>
  </li>
  <li>
    <a href="#ccm-nav-tabR22-0_96" class="cc-tgl-ind-right" data-toggle="collapse" aria-expanded="false" aria-controls="ccm-nav-tab-R22-0_96" target="_self">
      Academics
    </a>
    <ul class="cc-list2 collapse" id="ccm-nav-tabR22-0_96">
      <li><a href="#">Departments</a></li>
      <li><a href="#">Classes</a></li>
    </ul>
  </li>
  <li><a href="#">Faculty Workstation</a></li>
  <li>
    <a href="#ccm-nav-tabF22-1003_6" class="cc-tgl-ind-right" title="Expand" data-toggle="collapse" aria-expanded="false" aria-controls="ccm-nav-tab-F22-1003_6" target="_self">
      Online Resource
    </a>
    <ul class="cc-list2 collapse" id="ccm-nav-tabF22-1003_6">
      <li><a href="#">Couses & Videos</a></li>
    </ul>
  </li>
</ul>
<pre class="code">
  &lt;ul class="list-group cc-list-group"&gt;
    &lt;li&gt;
      &lt;a href="#ccm-nav-tabR22-0_1" class="cc-tgl-ind-right" data-toggle="collapse" aria-expanded="true" aria-controls="ccm-nav-tab-R22-0_1"&gt;
        Campus
      &lt;/a&gt;
      &lt;ul class="cc-list2 collapse in" id="ccm-nav-tabR22-0_1"&gt;
        &lt;li&gt;&lt;a href="#" class="ccm-on"&gt;General&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Offices&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href="#ccm-nav-tabR22-0_81" class="cc-tgl-ind-right" data-toggle="collapse" aria-expanded="false" aria-controls="ccm-nav-tab-R22-0_81"&gt;
        Campus Life
      &lt;/a&gt;
      &lt;ul class="cc-list2 collapse" id="ccm-nav-tabR22-0_81"&gt;
        &lt;li&gt;&lt;a href="#"&gt;Clubs&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Committees&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href="#ccm-nav-tabR22-0_96" class="cc-tgl-ind-right" data-toggle="collapse" aria-expanded="false" aria-controls="ccm-nav-tab-R22-0_96"&gt;
        Academics
      &lt;/a&gt;
      &lt;ul class="cc-list2 collapse" id="ccm-nav-tabR22-0_96"&gt;
        &lt;li&gt;&lt;a href="#"&gt;Departments&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="#"&gt;Classes&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
    &lt;li&gt;&lt;a href="#"&gt;Faculty Workstation&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;
      &lt;a href="#ccm-nav-tabF22-1003_6" class="cc-tgl-ind-right" title="Expand" data-toggle="collapse" aria-expanded="false" aria-controls="ccm-nav-tab-F22-1003_6"&gt;
        Online Resource
      &lt;/a&gt;
      &lt;ul class="cc-list2 collapse" id="ccm-nav-tabF22-1003_6"&gt;
        &lt;li&gt;&lt;a href="#"&gt;Couses & Videos&lt;/a&gt;&lt;/li&gt;
      &lt;/ul&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
</pre>
