<table class="cc-table" summary="Student List table sort by name">
  <caption class="sr-only">
    Student List Table
  </caption>
  <thead>
  <tr>
    <th scope="col">
      <a href="#" class="cc-sort">
        <i class="ci ci-sort"></i> ID
      </a>
    </th>
    <th scope="col">
      <a href="#" class="cc-sort">
        <i class="ci ci-sort-up cc-sort"></i> Name
      </a>
    </th>
    <th scope="col">Desc</th>
    <th scope="col">
      <a href="#" class="cc-sort">
        <i class="ci ci-sort cc-sort"></i> Date
      </a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>001</td>
    <td>Username</td>
    <td>The description words...</td>
    <td>10/12/2015</td>
  </tr>
  <tr>
    <td>002</td>
    <td>Username</td>
    <td>The description words...</td>
    <td>10/12/2015</td>
  </tr>
  </tbody>
</table>

<xmp class="code">
<table class="cc-table" summary="Student List table sort by name">
  <caption class="sr-only">
    Student List Table
  </caption>
  <thead>
  <tr>
    <th scope="col">
      <a href="#" class="cc-sort">
        <i class="ci ci-sort"></i> ID
      </a>
    </th>
    <th scope="col">
      <a href="#" class="cc-sort">
        <i class="ci ci-sort-up cc-sort"></i> Name
      </a>
    </th>
    <th scope="col">Desc</th>
    <th scope="col">
      <a href="#" class="cc-sort">
        <i class="ci ci-sort cc-sort"></i> Date
      </a>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>001</td>
    <td>Username</td>
    <td>The description words...</td>
    <td>10/12/2015</td>
  </tr>
  <tr>
    <td>002</td>
    <td>Username</td>
    <td>The description words...</td>
    <td>10/12/2015</td>
  </tr>
  </tbody>
</table>
</xmp>
