<table class="table table-hover cc-table" summary="Announcement List table sort by title">
  <caption class="sr-only">
    Announcement List Table
  </caption>
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Updated</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="cch cc-title">
        <a href="#">Campus Top News Announcement</a>
      </div>
      <div class="cc-section-panel cc-text2">
        This is a short description.
      </div>
    </td>
    <td>
      06/25/2017
    </td>
    <td>
      <i class="ci ci-publish cc-icon cc-icon-info cc-tip" aria-label="Published"></i>
    </td>
    <td class="cc-fit">
      <button class="cc-btn ci ci-preview cc-tip" type="button" aria-label="Preview"></button>
    </td>
  </tr>
  <tr>
    <td>
      <div class="cch cc-title">
        <a href="#">Campus Top Sports Annoucement</a>
      </div>
      <div class="cc-section-panel cc-text2">
        This is a short description.
      </div>
    </td>
    <td>
      08/10/2017
    </td>
    <td>
      <i class="ci ci-draft cc-icon cc-icon cc-tip" aria-label="Draft"></i>
    </td>
    <td class="cc-fit">
      <button class="cc-btn ci ci-preview cc-tip" type="button" aria-label="Preview"></button>
    </td>
  </tr>
  </tbody>
</table>
<xmp class="code">
<table class="table table-hover cc-table" summary="Announcement List table sort by title">
  <caption class="sr-only">
    Announcement List Table
  </caption>
  <thead>
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Updated</th>
    <th scope="col">Status</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="cch cc-title">
        <a href="#">Campus Top News Announcement</a>
      </div>
      <div class="cc-section-panel cc-text2">
        This is a short description.
      </div>
    </td>
    <td>
      06/25/2017
    </td>
    <td>
      <i class="ci ci-publish cc-icon cc-icon-info cc-tip" aria-label="Published"></i>
    </td>
    <td class="cc-fit">
      <button class="cc-btn ci ci-preview cc-tip" type="button" aria-label="Preview"></button>
    </td>
  </tr>
  <tr>
    <td>
      <div class="cch cc-title">
        <a href="#">Campus Top Sports Annoucement</a>
      </div>
      <div class="cc-section-panel cc-text2">
        This is a short description.
      </div>
    </td>
    <td>
      08/10/2017
    </td>
    <td>
      <i class="ci ci-draft cc-icon cc-icon cc-tip" aria-label="Draft"></i>
    </td>
    <td class="cc-fit">
      <button class="cc-btn ci ci-preview cc-tip" type="button" aria-label="Preview"></button>
    </td>
  </tr>
  </tbody>
</table>
</xmp>