<div class="tccui-component">
  <h1 class="cc-h">Table</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Table</h2>
    <ng-include src="'tpls/components/table/table-sorting.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Table w/Checkbox</h2>
    <ng-include src="'tpls/components/table/table-checkbox.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Numbers</h2>
    <ng-include src="'tpls/components/table/table-numbers.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">RWD</h2>
    <ng-include src="'tpls/components/table/table-rwd.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Action Buttons</h2>
    <ng-include src="'tpls/components/table/table-buttons.html'"></ng-include>
  </div>
</div>
