<div class="tccui-component">
  <h1 class="cc-h">Item List</h1>
  <div class="cc-panel">
    <h2 class="cc-h">Narrow Item in One Line</h2>
    <ng-include src="'tpls/components/itemlist/narrow-one-line.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Narrow Item in Multiple Lines</h2>
    <ng-include src="'tpls/components/itemlist/narrow-multi-line.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Narrow Item in the List</h2>
    <ng-include src="'tpls/components/itemlist/narrow-list.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Full Span Item</h2>
    <ng-include src="'tpls/components/itemlist/full-span-item.html'"></ng-include>
  </div>
  <div class="cc-panel">
    <h2 class="cc-h">Full Span Item List</h2>
    <ng-include src="'tpls/components/itemlist/full-span-item-list.html'"></ng-include>
  </div>
</div>
